version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: npm # for whatever reason, the YAML value for pnpm is npm
    directory: "/coral"
    schedule:
      interval: "weekly"