<!DOCTYPE html>
<html>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Kafka Administration Portal - Home</title>

<html ng-app="indexApp" ng-controller="indexCtrl">
<head>
	<script src="lib/angular.min.js"></script>
	<script src="lib/angular-route.min.js"></script>
	<script src="lib/angular-wm.js"></script>
	<script src="js/indexapp.js?ver<%=DateTime.Now.Ticks.ToString()%>"></script>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		  crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
		  crossorigin="anonymous">
	<link rel="stylesheet" href="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="assets/css/custom.css">
	<link rel="stylesheet" href="assets/css/custom-themes.css">
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png" />


</head>
<body>
<div class="page-wrapper chiller-theme sidebar-bg toggled"  ng-init="getAuth()">
	<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
		<i class="fas fa-bars"></i>
	</a>
	<nav id="sidebar" class="sidebar-wrapper">
		<div class="sidebar-content">
			<div class="sidebar-brand">
				<a href="index">Kafka Self-Service Portal</a>
				<div id="close-sidebar">
					<i class="fas fa-times"></i>
				</div>
			</div>
			<div class="sidebar-header">
				<div class="user-pic">
					<img class="img-responsive img-rounded" src="assets/img/user.jpg" alt="User picture">
				</div>
				<div class="user-info">
                        <span class="user-name">{{userlogged}}
							<!--<strong>Smith</strong>-->
                        </span>
					<!--<span class="user-role">Administrator</span>-->
					<span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span>Online</span>
                        </span>
				</div>
			</div>
			<!-- sidebar-header  -->
			<!--<div class="sidebar-search">-->
			<!--<div>-->
			<!--<div class="input-group">-->
			<!--<input type="text" class="form-control search-menu" placeholder="Search...">-->
			<!--<div class="input-group-append">-->
			<!--<span class="input-group-text">-->
			<!--<i class="fa fa-search" aria-hidden="true"></i>-->
			<!--</span>-->
			<!--</div>-->
			<!--</div>-->
			<!--</div>-->
			<!--</div>-->
			<!-- sidebar-search  -->
			<div class="sidebar-menu">
				<ul>
					<li class="header-menu">
						<span>Users</span>
					</li>
					<li class="sidebar-dropdown">
						<a href="#">
							<i class="fa fa-tachometer-alt"></i>
							<span>Browse</span>
							<!--<span class="badge badge-pill badge-danger">New</span>-->
						</a>
						<div class="sidebar-submenu">
							<ul>
								<li>
									<a href="browseTopics">Topics
										<!--<span class="badge badge-pill badge-success">Pro</span>-->
									</a>
								</li>
								<li>
									<a href="browseAcls">Acls
									</a>
								</li>
								<li>
									<a href="pcTopics">Producers-Consumers</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="sidebar-dropdown">
						<a href="#">
							<i class="fa fa-shopping-cart"></i>
							<span>Requests</span>
							<!--<span class="badge badge-pill badge-primary">3</span>-->
						</a>
						<div class="sidebar-submenu">
							<ul>
								<li>
									<a href="requestTopics">Request Topic
									</a>
								</li>
								<li>
									<a href="requestAcls">Request ACL</a>
								</li>
								<li>
									<a href="requestSchemaUpload">Request Avro Schema</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="sidebar-dropdown">
						<a href="#">
							<i class="far fa-gem"></i>
							<span>Environments</span>
						</a>
						<div class="sidebar-submenu">
							<ul>
								<li>
									<a href="envs">Kafka</a>
								</li>
								<li>
									<a href="envs">Schema Registry</a>
								</li>
							</ul>
						</div>
					</li>

					<li class="sidebar-dropdown">
						<a href="#">
							<i class="far fa-gem"></i>
							<span>Audit</span>
						</a>
						<div class="sidebar-submenu">
							<ul>
								<li>
									<a href="myTopicRequests">My Requests</a>
								</li>
								<li>
									<a href="activityLog">Activity Log</a>
								</li>
							</ul>
						</div>
					</li>

					<li class="header-menu">
						<span>Administrators</span>
					</li>
					<li class="sidebar-dropdown">
						<a href="#">
							<i class="fa fa-tachometer-alt"></i>
							<span>Approve - Execute<span class="badge badge-pill badge-danger">{{ notifications }}</span></span>
							<!--<span class="badge badge-pill badge-danger">New</span>-->
						</a>
						<div class="sidebar-submenu" ng-if="statusauthexectopics==='Authorized'">
							<ul>
								<li>
									<a href="execTopics">Topics
										<!--<span class="badge badge-pill badge-success">Pro</span>-->
									</a>
								</li>
								<li>
									<a href="execAcls">Acls</a>
								</li>
								<li>
									<a href="execSchemas">Schemas</a>
								</li>
							</ul>
						</div>
						<div class="sidebar-submenu" ng-if="statusauthexectopics!='Authorized'">
							<ul>
								<li>
									<a>Topics
										<!--<span class="badge badge-pill badge-success">Pro</span>-->
									</a>
								</li>
								<li>
									<a>Acls</a>
								</li>
								<li>
									<a>Schemas</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="sidebar-dropdown">
						<a href="#">
							<i class="fa fa-chart-line"></i>
							<span>Users - Teams</span>
							<!--<span class="badge badge-pill badge-danger">New</span>-->
						</a>
						<div class="sidebar-submenu" ng-if="statusauthexectopics==='Authorized'">
							<ul>
								<li>
									<a href="showUsers">View Users</a>
								</li>
								<li>
									<a href="addUsers">Add Users
										<!--<span class="badge badge-pill badge-success">Pro</span>-->
									</a>
								</li>
								<li>
									<a href="showTeams">View Teams</a>
								</li>
								<li>
									<a href="addTeam">Add Teams
										<!--<span class="badge badge-pill badge-success">Pro</span>-->
									</a>
								</li>
							</ul>
						</div>
						<div class="sidebar-submenu" ng-if="statusauthexectopics!='Authorized'">
							<ul>
								<li>
									<a>View</a>
								</li>
								<li>
									<a>Add
										<!--<span class="badge badge-pill badge-success">Pro</span>-->
									</a>
								</li>
							</ul>
						</div>
					</li>

					<li class="sidebar-dropdown">
						<a href="#">
							<i class="fa fa-gem"></i>
							<span>Environments</span>
							<!--<span class="badge badge-pill badge-danger">New</span>-->
						</a>
						<div class="sidebar-submenu" ng-if="statusauthexectopics==='Authorized'">
							<ul>
								<li>
									<a href="addNewEnv">Add Environment</a>
								</li>
							</ul>
						</div>
						<div class="sidebar-submenu" ng-if="statusauthexectopics!='Authorized'">
							<ul>
								<li>
									<a>Add Environment</a>
								</li>
							</ul>
						</div>
					</li>

					<li class="sidebar-dropdown">
						<a href="#">
							<i class="fa fa-chart-line"></i>
							<span>Synchronize Metadata</span>
							<!--<span class="badge badge-pill badge-danger">New</span>-->
						</a>
						<div class="sidebar-submenu" ng-if="statusauthexectopics==='Authorized'">
							<ul>
								<li>
									<a href="synchronizeTopics">Topics</a>
								</li>
								<li>
									<a href="synchronizeAcls">Acls</a>
								</li>
							</ul>
						</div>
						<div class="sidebar-submenu" ng-if="statusauthexectopics!='Authorized'">
							<ul>
								<li>
									<a>Topics</a>
								</li>
								<li>
									<a>Acls</a>
								</li>
							</ul>
						</div>
					</li>

				</ul>
			</div>
			<!-- sidebar-menu  -->
		</div>
		<!-- sidebar-content  -->
		<div class="sidebar-footer">

			<div class="dropdown">
				<a href="#" class="" id="dropdownMenuMessage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-cog"></i>
					<span class="badge-sonar"></span>
				</a>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuMessage">
					<a class="dropdown-item" href="myProfile">My profile</a>
					<a class="dropdown-item" href="changePwd">Update Password</a>
					<!--<a class="dropdown-item" href="#">Setting</a>-->
				</div>
			</div>
			<div>
				<A  href='#' ng-click="logout()">
					<i class="fa fa-power-off"></i>
				</a>
			</div>
		</div>
	</nav>
	<!-- sidebar-wrapper  -->
	<main class="page-content">
		<div class="container-fluid">
			<div class="row">
				<div class="form-group col-md-12">
					<table width="100%">
						<tr>
							<td align="left"><h2>Welcome to KafkaWize 1.0 !!</h2><br><h5><i>Kafka Self Service Portal</i></h5></td>
							<td align="right"><img style="max-height: 100px; max-width: 100px;" src="images/kafka.png"><br><b>KafkaWize - {{ companyinfo }}</b></td>
						</tr>
					</table>


				</div>
			</div>
			<hr>
			<table border="0">
				<tr><td>
					<h4>About the Application</h4> <br>

					<h5>Objective :</h5>
					Automate the process of creating and browsing Kafka components, by introducing roles, teams and users.<br><br>

					<h5>Architecture:</h5><br>
					There are two apis running.<br>
					Cluster API acts as middle layer between Kafka brokers and UserInterface API.<br>
					Cluster API creates Kafka Admin Client and executes the requests for Topic, Acls or Schema registry.<br><br>

					Front end is built with AngularJs, HTML, and Java script.<br><br>
					User Interface API directly communicates between users and Cluster API.<br><br>

					Apache Cassandra datastore is used to store all users, teams, topics, request and execution information from all the users., and to maintain source of truth.<br><br>

					Spring Security, Spring Boot frameworks are used to develop this application.<br>
					<img src="images/arch.png">
					<br><br>
					<h5>Functionalities:</h5><br> (Broadly divided into two categories based on user roles.)<br>
					ROLE : USER  can request for creation of kafka components, and browse kafka components.<br>
					ROLE : ADMIN  can approve and execute the requests of users to create kafka components.<br>
					ROLE : SUPERUSER can synchronize topics meta information with Cassandra Datastore from Kafka Brokers (Source of Truth.)<br><br>

					<b>Browse:</b> (ROLE : USER, ADMIN)<br>
					All users can <a href="browseTopics">Browse Topics</a><br>
					All users can <a href="browseAcls">Browse Acls</a><br>
					All users can view the producers and consumers of all topics. <a href="pcTopics">View</a><br><br>

					<b>Requests:</b>(ROLE : USER)<br>
					Users can request for Kafka Topics <a href="requestTopics"> Request Topics</a><br>
					Users can request for Kafka Acl <a href="requestAcls"> Request Acl</a><br>
					Users can request for Schemas to be registered on Confluent Schema registry. <a href="requestSchemaUpload"> Request Schema Upload</a><br>
					Users can view all the requests from his team. <a href="myTopicRequests">My Requests</a><br><br>

					<b>Environments:</b>(ROLE : USER)<br>
					Users can view the available environments <a href="envs">All Environments</a> <br><br>

					<b>Approve - Execute :</b>(ROLE : ADMIN)<br>
					Users can appprove requests for creating Kafka Topics <a href="execTopics"> Approve Topics</a><br>
					Users can appprove requests for creating Kafka Acls <a href="execAcls"> Approve Acls</a><br>
					Users can appprove requests for uploading schemas on topics <a href="execSchemas"> Approve Schemas for Schema Registry</a><br><br>

					<b>Users :</b>(ROLE : ADMIN)<br>
					Users can view all user details <a href="showUsers"> View Users </a><br>
					Users can add new users <a href="addUsers"> Add Users </a><br><br>

					<b>Teams :</b>(ROLE : ADMIN, SUPERUSER)<br>
					Users can view all team details <a href="showTeams"> View Teams </a><br>
					Users can add new team <a href="addTeam"> Add Team </a><br><br>

					<b>Environments:</b>(ROLE : SUPERUSER)<br>
					Users can add a new environment environments <a href="addNewEnv">Add New Environments</a> <br><br>

					<b>Synchronize Metadata :</b>(ROLE : SUPERUSER)<br>
					Users can synchronize topic information from Brokers with Cassandra datastore. (Update team info.) <a href="synchronizeTopics"> SynchronizeTopics</a><br><br>
					Users can synchronize acls information from Brokers with Cassandra datastore. (Update team info.) <a href="synchronizeAcls"> SynchronizeAcls</a><br><br>

					<b>My Profile :</b>(ROLE : USER, ADMIN)<br>
					Users can view their profile. <a href="myProfile"> My Profile </a><br><br>

					<b>Change Password :</b>(ROLE : USER, ADMIN)<br>
					Users can change their passwords. <a href="changePwd"> Change Passwords </a><br><br>

					<b>Logout :</b>(ROLE : USER, ADMIN)<br>
					Users can logout. <A  href='#' ng-click="logout()">Logout</A><br><br>
				</td>
					<td valign="top"><table valign="top">
						<tr><td><a href="browseTopics"><button class="k1button">Browse Topics</button></a></td></tr>
						<tr><td><a href="browseAcls"><button class="k1button">Browse Acls</button></a></td></tr>
						<tr><td><a href="requestTopics"><button class="k1button">Request Topics</button></a></td></tr>
						<tr><td><a href="requestAcls"><button class="k1button">Request Acls</button></a></td></tr>
						<tr><td><a href="requestSchemaUpload"><button class="k1button">Request Schemas</button></a></td></tr>

						<tr><td><a href="envs"><button class="k2button">View Envs</button></a></td></tr>

						<tr><td><a href='execTopics'><button class="k3button">Execute Topics</button></a></td></tr>
						<tr><td><a href='execAcls'><button class="k3button">Execute Acls</button></a></td></tr>
						<tr><td><a href="execSchemas"><button class="k3button">Execute Schemas</button></a></td></tr>

						<tr><td><a href="showUsers"><button class="k1button">Show Users</button></a></td></tr>
						<tr><td><a href="addUsers"><button class="k1button">Add Users</button></a></td></tr>

						<tr><td><a href="showTeams"><button class="k2button">Show Teams</button></a></td></tr>
						<tr><td><a href="addTeam"><button class="k2button">Add Team</button></a></td></tr>

						<tr><td><a href="myProfile"><button class="k3button">My Profile</button></a></td></tr>
						<tr><td><a href="changePwd"><button class="k3button">Change Password</button></a></td></tr>

						<tr><td><a href="addNewEnv"><button class="k2button">Add Environment</button></a></td></tr>

						<tr><td><a href="synchronizeTopics"><button class="k1button">Synchronize Topics</button></a></td></tr>
						<tr><td><a href="synchronizeAcls"><button class="k1button">Synchronize Acls</button></a></td></tr>
					</table>
					</td>
				</tr>
			</table>
			<hr>
			<br><br><br>
			<div class="row">

				<div class="message" ng-show="alerttop != null && alerttop != ''" ng-init="">{{ alerttop }}</div>
				<!--<div class="form-group col-md-12">-->
				<!--<a href="#" class="theme theme-bg selected"></a>-->
				<!--<a href="#" data-bg="bg2" class="theme theme-bg"></a>-->
				<!--<a href="#" data-bg="bg3" class="theme theme-bg"></a>-->
				<!--<a href="#" data-bg="bg4" class="theme theme-bg"></a>-->
				<!--</div>-->
				<!--<div class="form-group col-md-12">-->
				<!--<div class="form-check">-->
				<!--<label class="form-check-label">-->
				<!--<input type="checkbox" class="form-check-input" name="" id="toggle-bg" checked>-->
				<!--Background image-->
				<!--</label>-->
				<!--</div>-->
				<!--</div>-->

			</div>
		</div>
	</main>
	<!-- page-content" -->
</div>
<!-- page-wrapper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
<script src="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="assets/js/custom.js"></script>

</body>
</html>
