
<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div class="sidebar-brand">
            <a href="index">Kafka Self-Service Portal</a>
            <div id="close-sidebar">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="sidebar-header">
            <div class="user-pic">
                <img class="img-responsive img-rounded" src="assets/img/user.jpg" alt="User picture">
            </div>
            <div class="user-info">
                        <span class="user-name">{{userlogged}}
                            <!--<strong>Smith</strong>-->
                        </span>
                <!--<span class="user-role">Administrator</span>-->
                <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span>Online</span>
                        </span>
            </div>
        </div>
        <!-- sidebar-header  -->
        <!--<div class="sidebar-search">-->
        <!--<div>-->
        <!--<div class="input-group">-->
        <!--<input type="text" class="form-control search-menu" placeholder="Search...">-->
        <!--<div class="input-group-append">-->
        <!--<span class="input-group-text">-->
        <!--<i class="fa fa-search" aria-hidden="true"></i>-->
        <!--</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!-- sidebar-search  -->
        <div class="sidebar-menu">
            <ul>
                <li class="header-menu">
                    <span>Users</span>
                </li>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fa fa-tachometer-alt"></i>
                        <span>Browse</span>
                        <!--<span class="badge badge-pill badge-danger">New</span>-->
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="browseTopics">Topics
                                    <!--<span class="badge badge-pill badge-success">Pro</span>-->
                                </a>
                            </li>
                            <li>
                                <a href="browseAcls">Acls
                                </a>
                            </li>
                            <li>
                                <a href="pcTopics">Producers-Consumers</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fa fa-shopping-cart"></i>
                        <span>Requests</span>
                        <!--<span class="badge badge-pill badge-primary">3</span>-->
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="requestTopics">Request Topic
                                </a>
                            </li>
                            <li>
                                <a href="requestAcls">Request ACL</a>
                            </li>
                            <li>
                                <a href="requestSchemaUpload">Request Avro Schema</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="far fa-gem"></i>
                        <span>Environments</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="envs">Kafka</a>
                            </li>
                            <li>
                                <a href="envs">Schema Registry</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="far fa-gem"></i>
                        <span>Audit</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="myTopicRequests">My Requests</a>
                            </li>
                            <li>
                                <a href="activityLog">Activity Log</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="header-menu">
                    <span>Administrators</span>
                </li>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fa fa-tachometer-alt"></i>
                        <span>Approve - Execute</span>
                        <!--<span class="badge badge-pill badge-danger">New</span>-->
                    </a>
                    <div class="sidebar-submenu" ng-if="statusauthexectopics==='Authorized'">
                        <ul>
                            <li>
                                <a href="execTopics">Topics
                                    <!--<span class="badge badge-pill badge-success">Pro</span>-->
                                </a>
                            </li>
                            <li>
                                <a href="execAcls">Acls</a>
                            </li>
                            <li>
                                <a href="execSchemas">Schemas</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-submenu" ng-if="statusauthexectopics!='Authorized'">
                        <ul>
                            <li>
                                <a>Topics
                                    <!--<span class="badge badge-pill badge-success">Pro</span>-->
                                </a>
                            </li>
                            <li>
                                <a>Acls</a>
                            </li>
                            <li>
                                <a>Schemas</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fa fa-chart-line"></i>
                        <span>Users</span>
                        <!--<span class="badge badge-pill badge-danger">New</span>-->
                    </a>
                    <div class="sidebar-submenu" ng-if="statusauthexectopics==='Authorized'">
                        <ul>
                            <li>
                                <a href="showUsers">View</a>
                            </li>
                            <li>
                                <a href="addUsers">Add
                                    <!--<span class="badge badge-pill badge-success">Pro</span>-->
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-submenu" ng-if="statusauthexectopics!='Authorized'">
                        <ul>
                            <li>
                                <a>View</a>
                            </li>
                            <li>
                                <a>Add
                                    <!--<span class="badge badge-pill badge-success">Pro</span>-->
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
        <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
        <div class="dropdown">
            <a href="#" class="" id="dropdownMenuMessage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cog"></i>
                <span class="badge-sonar"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuMessage">
                <a class="dropdown-item" href="myProfile">My profile</a>
                <a class="dropdown-item" href="changePwd">Update Password</a>
                <!--<a class="dropdown-item" href="#">Setting</a>-->
            </div>
        </div>
        <div>
            <A  href='#' ng-click="logout()">
                <i class="fa fa-power-off"></i>
            </a>
        </div>
    </div>
</nav>