/*
 * Styles and classes in this file are use to
 * improve overall accessibility of Klaw.
 * Styles are separated into
 * - global rules
 *   -> not available by DS yet)
 * - additional a11y-related custom classes
 *   -> not available by DS yet)
 * - overwriting DS styles
 *   -> can be removed if styles in DS
 *       or custom theme are covered
*/
:root {
  --body-text-color: #4a4b57; /* DS value grey-70*/
  --text-link-color: #e41a4a; /* DS value primary-80*/
  --text-link-color-hover: #ff3554; /* DS value primary-70*/
  --main-navigation-hover: #e41a4a; /* DS value primary-80*/
  --main-navigation-active: #a70045; /* DS value primary-100*/
  --interactive-elements-focus: #0399e3; /* DS value info-70*/
}

/************************************************
 * global styles, not covered by DS yet
 ************************************************
*/

/*make border-radius and focus styles consistent for buttons that*/
/*are used instead of DS (e.g. submenu)*/
button {
  border-radius: 0.125rem !important;
}

button:focus-visible {
  outline: 2px solid var(--interactive-elements-focus) !important;
  outline-offset: 2px !important;
}

a {
  color: var(--text-link-color);
}

a:hover,
a:focus {
  color: var(--text-link-color-hover);
}

a:focus-visible {
  outline-offset: 2px;
  /*represents info-70*/
  outline-color: var(--interactive-elements-focus);
  box-shadow: 0 0 3px 0 #ddd;
}

/****************************************
 * a11y-related custom classes
 ****************************************
*/

:global(.visually-hidden) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
  font-size: 18px;
}

/****************************************
 * DS overwrites
 ****************************************
*/

:root input:focus-visible,
:root select:focus-visible,
:root textarea:focus-visible {
  outline: 1px solid var(--interactive-elements-focus) !important;
  outline-offset: 0 !important;
}

:root button:focus {
  outline: 2px solid var(--interactive-elements-focus) !important;
  outline-offset: 0 !important;
}

/*Applies styles to all label text*/
:root label span {
  /*represents body-small*/
  font-size: 12px !important;
}

/*Applies color only to label text that is not in error state*/
:root label span:not([class*="error"]) {
  /*represents grey-70 */
  color: #4a4b57 !important;
}
