/*
 * Styles and classes in this file are use to
 * improve overall accessibility of Klaw.
 * Styles are separated into
 * - global rules
 *   -> not available by DS yet)
 * - additional a11y-related custom classes
 *   -> not available by DS yet)
 * - overwriting DS styles
 *   -> can be removed if styles in DS
 *       or custom theme are covered
*/
:root {
  --main-navigation-active: var(--aquarium-colors-primary-80);
  --main-navigation-hover: var(--aquarium-colors-primary-60);
  --interactive-elements-focus: var(--aquarium-colors-primary-60);
}

/************************************************
 * global styles, not covered by DS yet
 ************************************************
*/

button:focus-visible {
  outline: 2px solid var(--interactive-elements-focus) !important;
  outline-offset: 2px !important;
}

a:global(:not(.Aquarium-Button)) {
  color: var(--text-link-color);
}

a:global(:not(.Aquarium-Button)):hover,
a:global(:not(.Aquarium-Button)):focus {
  color: var(--text-link-color-hover);
}

a:not(.Aquarium-Button):focus-visible {
  outline-offset: 1px !important;
  box-shadow: 0 0 3px 0 transparent;
  outline: 2px solid var(--interactive-elements-focus);
}

/****************************************
 * a11y-related custom classes
 ****************************************
*/

:global(.visually-hidden) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
  font-size: 18px;
}

/*Accessibility enhancements for DataTable - the component */
/*needs to be wrapped in a div with the class "a11y-enhancement-data-table"*/
/*for them to be applied!*/

/*Adds the hover style to <tr>s when an element in the row is */
/*in focus of the keyboard (same behavior like hovering the <tr> with the mouse)*/
:global(.a11y-enhancement-data-table) table tr:focus-within {
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 250 / var(--tw-bg-opacity));
}

/****************************************
 * DS overwrites
 ****************************************
*/

:root input:focus-visible,
:root select:focus-visible,
:root textarea:focus-visible {
  outline: 1px solid var(--interactive-elements-focus) !important;
  outline-offset: 0 !important;
}

:root button:focus {
  outline: 2px solid var(--interactive-elements-focus) !important;
  outline-offset: 0 !important;
}

/*Applies color only to label text that is not in error state*/
:root label span:not([class*="error"]) {
  /*represents grey-70 */
  color: #4a4b57 !important;
}

:root legend span:not([class*="error"]) {
  color: #4a4b57 !important;
}

/* Accessibility improvement to <Tabs /> component */
:root [role="tablist"] [role="tab"]:hover {
  border-color: var(--aquarium-colors-primary-80) !important;
}

:root [role="tablist"] [role="tab"]:focus,
:root [role="tablist"] [role="tab"]:focus-visible {
  /* The default outline was overflowing to the container. */
  outline-offset: -2px !important;
}

:root [role="tablist"] [role="tab"][aria-selected="true"] {
  background-color: #f7f7fa !important; /* grey-0 */
}

/* A11y enhancement Table as well as DataTable*/
/* Workaround to get accessible color until DS ready */
/* changes color to be accessible contrast */
/* changes font weight to be distinguishable */
/* from table cells font */
:root thead > tr > th {
  color: black !important;
}
