/* TEMP browser reset and general vars
 * until we can consume that from the DS
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

body {
  margin: 0;
  /*@TODO check with design, it is supposed*/
  /*  to be grey-60 but that does not meet*/
  /*  accessibility standards*/
  /*represents grey-70*/
  color: var(--text-color-grey-70);
  -webkit-text-size-adjust: 100%;
}
