/** TEMP browser reset and general vars
 * until we can consume that from the DS
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: "Inter", serif;
}

body {
  margin: 0;
  /*@TODO check with design, it is supposed*/
  /*  to be grey-60 but that does not meet*/
  /*  accessibility standards*/
  /*represents grey-70*/
  color: var(--body-text-color);
  -webkit-text-size-adjust: 100%;
}

/*Override custom CSS variables DS*/
:root {
  --aquarium-colors-primary-100: #0788d1;
  --aquarium-colors-primary-90: #0788d1;
  --aquarium-colors-primary-80: #0788d1;
  --aquarium-colors-primary-70: #0399e3;
  --aquarium-colors-primary-60: #02a8f3;
  --aquarium-colors-primary-50: #28b4f4;
  --aquarium-colors-primary-40: #4cc2f7;
  --aquarium-colors-primary-30: #7fd1f7;
  --aquarium-colors-primary-20: #b4e5fb;
  --aquarium-colors-primary-10: #e0f5fe;
  --aquarium-colors-primary-5: #eff0fa;
  --aquarium-colors-primary-0: #5c6bc0;

  /* --headline-text-color represents the value for
     --aquarium-colors-grey-100. We need to set this
     value for topic documentation h elements. Creating
     a specific variable for that makes it more clear that
     we're not overriding the DS value here, but reusing
     it in one specific case. */
  --headline-text-color: #19191d;
  --body-text-color: #4a4b57;
  --text-link-color: #0788d1;
  --text-link-color-hover: #02a8f3;
}
