<!DOCTYPE html>
<html lang="en">
  <html ng-app="registerUsersApp" ng-controller="registerUsersCtrl">
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <!-- Tell the browser to be responsive to screen width -->
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="description" content="" />
      <meta name="author" content="" />

      <!-- Favicon icon -->
      <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="assets/images/favicon.png"
      />
      <title>Register User | Kafka Self-service Topic Management Portal</title>
      <link
        rel="canonical"
        href="https://www.wrappixel.com/templates/materialpro/"
      />

      <link href="assets/css/style.css" rel="stylesheet" />
      <!-- You can change the theme colors from here -->
      <link
        href="assets/css/colors/blue-dark.css"
        id="theme"
        rel="stylesheet"
      />
      <link
        href="assets/plugins/sweetalert/sweetalert.css"
        rel="stylesheet"
        type="text/css"
      />

      <script src="lib/angular.min.js"></script>
      <script src="lib/angular-route.min.js"></script>
      <link rel="stylesheet" href="assets/css/custom.css" />
      <script src="js/registerUsers.js"></script>
      <script src="js/sharedHttpInterceptor.js"></script>

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>

    <body class="fix-header card-no-border logo-center">
      <div id="main-wrapper" style="overflow-y: auto">
        <div
          style="
            padding-right: 24px;
            padding-left: 24px;
            background-color: #0788d1;
            height: 64px;
          "
        >
          <header
            style="
              display: flex;
              place-content: center space-between;
              align-items: center;
              height: 100%;
              background-color: #0788d1;
            "
          >
            <img
              aria-hidden="true"
              alt=""
              src="/assets/coral/klaw_logo-8b4dc757.png"
              height="47"
              width="150"
            />
          </header>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
          <svg class="circular" viewBox="25 25 50 50">
            <circle
              class="path"
              cx="50"
              cy="50"
              r="20"
              fill="none"
              stroke-width="2"
              stroke-miterlimit="10"
            />
          </svg>
        </div>
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div
          ng-init="getBasicInfo();"
          class="login-register login-sidebar"
          style="
            overflow-y: auto;
            overflow-x: hidden;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            background-color: #f7f7fa;
          "
        >
          <div
            class="login-box"
            style="
              border-radius: 12px;
              border: 1px solid var(--Grey-5, #ededf0);
              background: #fff;
              margin-bottom: 5rem;
            "
          >
            <div class="card-body">
              <form class="form-horizontal form-material" id="registerform">
                <h1
                  style="
                    color: #000;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 36px;
                    margin-bottom: 2rem;
                  "
                >
                  Sign up
                </h1>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="control-label">Username</label>
                    <input
                      class="form-control"
                      type="text"
                      required
                      ng-model="registerUser.username"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="control-label">Full Name</label>
                    <input
                      class="form-control"
                      type="text"
                      required
                      ng-model="registerUser.usernamefull"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="control-label">Password</label>
                    <input
                      class="form-control"
                      type="password"
                      required
                      ng-model="registerUser.pwd"
                      pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}"
                      title="Password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one number, and one special character."
                    />
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="control-label">Confirm Password</label>
                    <input
                      class="form-control"
                      type="password"
                      required
                      ng-model="registerUser.reppwd"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-xs-12">
                    <label class="control-label">Email</label>
                    <input
                      class="form-control"
                      type="email"
                      required
                      ng-model="registerUser.emailid"
                    />
                  </div>
                </div>
                <div class="form-group text-center mt-3">
                  <div
                    class="col-xs-12"
                    ng-show="registrationStarted != 'true'"
                  >
                    <button
                      ng-click="registerUser();"
                      class="btn btn-info btn-lg btn-block waves-effect waves-light"
                      id="grad1"
                    >
                      Register
                    </button>
                  </div>
                </div>
                <div
                  ng-show="alert != null && alert != ''"
                  class="form-group mb-0"
                >
                  <p
                    class="text-warning text-center"
                    style="margin-bottom: 12px; color: #e62728"
                  >
                    {{alert}}
                  </p>
                </div>
              </form>

              <div class="text-center">
                Already registered?
                <a href="login"><b>Log in</b></a>
              </div>
            </div>
          </div>
        </div>
        <div id="alertbar">{{ alertnote }}</div>
      </div>
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- All Jquery -->
      <!-- ============================================================== -->
      <script src="assets/plugins/jquery/jquery.min.js"></script>
      <!-- Bootstrap tether Core JavaScript -->
      <!--<script src="assets/plugins/popper/popper.min.js"></script>-->
      <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
      <!-- slimscrollbar scrollbar JavaScript -->
      <script src="assets/js/jquery.slimscroll.js"></script>
      <!--Wave Effects -->
      <script src="assets/js/waves.js"></script>
      <!--Menu sidebar -->
      <script src="assets/js/sidebarmenu.js"></script>
      <!--stickey kit -->
      <script src="assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
      <script src="assets/plugins/sparkline/jquery.sparkline.min.js"></script>
      <!--Custom JavaScript -->
      <script src="assets/js/custom.min.js"></script>
      <script src="assets/plugins/sweetalert/sweetalert.min.js"></script>
    </body>
  </html>
</html>
