<!doctype html>
<html class="fixed">

<html ng-app="browseTopicsApp" ng-controller="browseTopicsCtrl">

	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>Browse Topics | Kafka Self-service Topic Management Portal</title>
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="assets/vendor/magnific-popup/magnific-popup.css" />
		<link rel="stylesheet" href="assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="assets/vendor/select2/select2.css" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="assets/stylesheets/theme.css" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="assets/stylesheets/skins/default.css" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="assets/stylesheets/theme-custom.css">

		<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png" />

		<!-- Head Libs -->
		<script src="assets/vendor/modernizr/modernizr.js"></script>
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-route.min.js"></script>
		<script src="js/browseTopics.js"></script>

	</head>
	<body>
		<section class="body" ng-init="getAuth()">

			<!-- start: header -->
			<header class="header">
				<div class="logo-container">
					<a href="../" class="logo">
						<img src="assets/images/logonew1.png" height="35" alt="Porto Admin" />
					</a>
					<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
						<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>
			
				<!-- start: search & user box -->
				<div class="header-right">
			
					<!--<form action="pages-search-results.html" class="search nav-form">-->
						<!--<div class="input-group input-search">-->
							<!--<input type="text" class="form-control" name="q" id="q" placeholder="Search...">-->
							<!--<span class="input-group-btn">-->
								<!--<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>-->
							<!--</span>-->
						<!--</div>-->
					<!--</form>-->
			<!---->
					<!--<span class="separator"></span>-->
			

			
					<span class="separator"></span>
			
					<div id="userbox" class="userbox">
						<a href="#" data-toggle="dropdown">
							<figure class="profile-picture">
								<img src="assets/images/!logged-user.jpg" alt="Joseph Doe" class="img-circle" data-lock-picture="assets/images/!logged-user.jpg" />
							</figure>
							<div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
								<span class="name">{{userlogged}}</span>
								<span class="role">{{teamname}}</span>
							</div>
			
							<i class="fa custom-caret"></i>
						</a>
			
						<div class="dropdown-menu">
							<ul class="list-unstyled">
								<li class="divider"></li>
								<li>
									<a role="menuitem" tabindex="-1" href="myProfile"><i class="fa fa-user"></i> My Profile</a>
								</li>
								<li>
									<a role="menuitem" tabindex="-1" href="changePwd"><i class="fa fa-lock"></i> Change Password</a>
								</li>
								<li>
									<a role="menuitem" tabindex="-1" href="#"  ng-click="logout()"><i class="fa fa-power-off"></i> Logout</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end: search & user box -->
			</header>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">
				
					<div class="sidebar-header">
						<div class="sidebar-title">
							Navigation
						</div>
						<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
							<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
						</div>
					</div>
				
					<div class="nano">
						<div class="nano-content">
							<nav id="menu" class="nav-main" role="navigation">
								<ul class="nav nav-main">
									<li>
										<a href="index">
											<i class="fa fa-home" aria-hidden="true"></i>
											<span>Dashboard</span>
										</a>
									</li>
									<!--<li>-->
										<!--<a href="mailbox-folder.html">-->
											<!--<span class="pull-right label label-primary">182</span>-->
											<!--<i class="fa fa-envelope" aria-hidden="true"></i>-->
											<!--<span>Mailbox</span>-->
										<!--</a>-->
									<!--</li>-->
									<li class="nav-parent nav-expanded nav-active">
										<a>
											<i class="fa fa-copy" aria-hidden="true"></i>
											<span>Browse</span>
										</a>
										<ul class="nav nav-children">
											<li class="nav-active">
												<a href="browseTopics">
													Topics
												</a>
											</li>
											<li>
												<a href="browseAcls">
													Acls
												</a>
											</li>
											<li>
												<a href="pcTopics">
													Producers-Consumers
												</a>
											</li>

										</ul>
									</li>
									<li class="nav-parent">
										<a>
											<i class="fa fa-tasks" aria-hidden="true"></i>
											<span>Requests</span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a href="requestTopics">
													Request Topic
												</a>
											</li>
											<li>
												<a href="requestAcls">
													Request ACL
												</a>
											</li>
											<li>
												<a href="requestSchemaUpload">
													Request Avro Schema
												</a>
											</li>

										</ul>
									</li>
									<li class="nav-parent">
										<a>
											<i class="fa fa-list-alt" aria-hidden="true"></i>
											<span>Clusters</span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a href="envs">
													Kafka
												</a>
											</li>
											<li>
												<a href="envs">
													Schema Registry
												</a>
											</li>
											<li  ng-if="statusauthexectopics==='Authorized'">
												<a href="addNewEnv">
													Add Cluster
												</a>
											</li>

										</ul>
									</li>
									<li class="nav-parent">
										<a>
											<i class="fa fa-table" aria-hidden="true"></i>
											<span>Audit</span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a href="myTopicRequests">
													My Requests
												</a>
											</li>
											<li>
												<a href="activityLog">
													Activity Log
												</a>
											</li>

										</ul>
									</li>

									<li class="nav-parent">
										<a>
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											<span>Approve - Execute</span>
										</a>
										<ul class="nav nav-children">
											<li  ng-if="statusauthexectopics==='Authorized'">
												<a href="execTopics">
													Topics
												</a>
											</li>
											<li  ng-if="statusauthexectopics==='Authorized'">
												<a href="execAcls">
													Acls
												</a>
											</li>
											<li  ng-if="statusauthexectopics==='Authorized'">
												<a href="execSchemas">
													Schemas
												</a>
											</li>
										</ul>
									</li>
									<li class="nav-parent">
										<a>
											<i class="fa fa-columns" aria-hidden="true"></i>
											<span>Users - Teams</span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a href="showUsers">
													View Users
												</a>
											</li>
											<li>
												<a href="showTeams">
													View Teams
												</a>
											</li>
											<li>
												<a href="addUsers"   ng-if="statusauthexectopics==='Authorized'">
													Add Users
												</a>
											</li>
											<li>
												<a href="addTeam"   ng-if="statusauthexectopics==='Authorized'">
													Add Teams
												</a>
											</li>
										</ul>
									</li>
									<li class="nav-parent">
										<a>
											<i class="fa fa-align-left" aria-hidden="true"></i>
											<span>Synchronize Metadata</span>
										</a>
										<ul class="nav nav-children">
											<li  ng-if="statusauthexectopics==='Authorized'">
												<a href="execTopics">
													Topics
												</a>
											</li>
											<li  ng-if="statusauthexectopics==='Authorized'">
												<a href="execAcls">
													Acls
												</a>
											</li>

										</ul>
									</li>

								</ul>
							</nav>
				
							<!--<hr class="separator" />-->
				<!---->
							<!--<div class="sidebar-widget widget-tasks">-->
								<!--<div class="widget-header">-->
									<!--<h6>Projects</h6>-->
									<!--<div class="widget-toggle">+</div>-->
								<!--</div>-->
								<!--<div class="widget-content">-->
									<!--<ul class="list-unstyled m-none">-->
										<!--<li><a href="#">Porto HTML5 Template</a></li>-->
										<!--<li><a href="#">Tucson Template</a></li>-->
										<!--<li><a href="#">Porto Admin</a></li>-->
									<!--</ul>-->
								<!--</div>-->
							<!--</div>-->
				<!---->
							<!--<hr class="separator" />-->
				
							<!--<div class="sidebar-widget widget-stats">-->
								<!--<div class="widget-header">-->
									<!--<h6>Company Stats</h6>-->
									<!--<div class="widget-toggle">+</div>-->
								<!--</div>-->
								<!--<div class="widget-content">-->
									<!--<ul>-->
										<!--<li>-->
											<!--<span class="stats-title">Stat 1</span>-->
											<!--<span class="stats-complete">85%</span>-->
											<!--<div class="progress">-->
												<!--<div class="progress-bar progress-bar-primary progress-without-number" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">-->
													<!--<span class="sr-only">85% Complete</span>-->
												<!--</div>-->
											<!--</div>-->
										<!--</li>-->
										<!--<li>-->
											<!--<span class="stats-title">Stat 2</span>-->
											<!--<span class="stats-complete">70%</span>-->
											<!--<div class="progress">-->
												<!--<div class="progress-bar progress-bar-primary progress-without-number" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">-->
													<!--<span class="sr-only">70% Complete</span>-->
												<!--</div>-->
											<!--</div>-->
										<!--</li>-->
										<!--<li>-->
											<!--<span class="stats-title">Stat 3</span>-->
											<!--<span class="stats-complete">2%</span>-->
											<!--<div class="progress">-->
												<!--<div class="progress-bar progress-bar-primary progress-without-number" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">-->
													<!--<span class="sr-only">2% Complete</span>-->
												<!--</div>-->
											<!--</div>-->
										<!--</li>-->
									<!--</ul>-->
								<!--</div>-->
							<!--</div>-->
						</div>
				
					</div>
				
				</aside>
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Topics</h2>
					
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="index">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>Browse</span></li>
								<li><span>Topics</span></li>
							</ol>

							<a class="sidebar-right-toggle"><i class="fa fa-chevron-left"></i></a>
						</div>
					</header>

					<!-- start: page -->
						<section class="panel">

							<div ng-show="resultPages == null && alerttop != null && alerttop != ''" ng-init="" class="alert alert-danger">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
								<strong>Ah snap!!</strong> {{ alerttop }}.
							</div>

							<div ng-show="resultPages == null && alert != null && alert != ''" ng-init="" class="alert alert-danger">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
								<strong>Ah snap!!</strong> {{ alert }}.
							</div>

							<div ng-show="resultPages == null && errorMessage != null && errorMessage != ''" ng-init="" class="alert alert-danger">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
								<strong>Ah snap!!</strong> {{ errorMessage }}.
							</div>
							<!--<header class="panel-heading">-->
								<!--<div class="panel-actions">-->
									<!--<a href="#" class="fa fa-caret-down"></a>-->
									<!--<a href="#" class="fa fa-times"></a>-->
								<!--</div>-->
						<!---->
								<!--<h2 class="panel-title">Basic</h2>-->
							<!--</header>-->
							<div  id="getTopics" class="panel-body"  ng-init="getAuth();getEnvs();">

								<div class="row" align="center">
									<!--<label class="col-md-3 control-label">Select Environment</label>-->
									<div class="col-md-5">
										<select ng-change="getTopics(1);" ng-model="getTopics.envName" ng-options="env as env.name for env in allenvs" class="form-control populate">

										</select>
									</div>
									<div class="col-md-7">
										<input type="text" class="form-control" placeholder="Search Topics" id="SearchTopics" ng-keydown="$event.keyCode === 13 && getTopics(1);" ng-model="getTopics.topicnamesearch">
									</div>
								</div>

								<br>

								<table class="table table-bordered table-striped mb-none"  ng-show="resultPages != null">
									<thead>
										<tr>
											<!--<th>Sequence</th>-->
											<th>TopicName</th>
											<th>Partitions</th>
											<th class="hidden-phone">Replicas</th>
											<th class="hidden-phone">Owned by</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="resultBrowset in resultBrowse" class="gradeX">
											<!--<td>{{ resultBrowset.sequence}}</td>-->
											<td>{{ resultBrowset.topicName}}</td>
											<td>{{ resultBrowset.noOfPartitions}}</td><td>{{ resultBrowset.noOfReplcias}}</td>
											<td>{{ resultBrowset.teamname}}</td>
										</tr>
										
									</tbody>
								</table>
								<div class="row"  ng-show="resultPageSelected != null">
									<div class="col-sm-12 col-md-6">

									</div>
									<div class="col-sm-12 col-md-6" align="right">
										<ul class="pagination">
											<li class="prev disabled">
												<span class="fa fa-chevron-left"></span>
											</li>
											<li ng-repeat="allPages in resultPages">
												<a href="#" ng-click="getTopics(allPages)">{{allPages}}</a>
											</li>
											<li class="next disabled">
												<span class="fa fa-chevron-right"></span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</section>
						
						<!--<section class="panel">-->
							<!--<header class="panel-heading">-->
								<!--<div class="panel-actions">-->
									<!--<a href="#" class="fa fa-caret-down"></a>-->
									<!--<a href="#" class="fa fa-times"></a>-->
								<!--</div>-->
						<!---->
								<!--<h2 class="panel-title">Basic with Table Tools</h2>-->
							<!--</header>-->
							<!--<div class="panel-body">-->
								<!--<table class="table table-bordered table-striped mb-none" id="datatable-tabletools" data-swf-path="assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">-->
									<!--<thead>-->
										<!--<tr>-->
											<!--<th>Rendering engine</th>-->
											<!--<th>Browser</th>-->
											<!--<th>Platform(s)</th>-->
											<!--<th class="hidden-phone">Engine version</th>-->
											<!--<th class="hidden-phone">CSS grade</th>-->
										<!--</tr>-->
									<!--</thead>-->
									<!--<tbody>-->
										<!--<tr class="gradeX">-->
											<!--<td>Trident</td>-->
											<!--<td>Internet-->
												<!--Explorer 4.0-->
											<!--</td>-->
											<!--<td>Win 95+</td>-->
											<!--<td class="center hidden-phone">4</td>-->
											<!--<td class="center hidden-phone">X</td>-->
										<!--</tr>-->
										<!--<tr class="gradeC">-->
											<!--<td>Trident</td>-->
											<!--<td>Internet-->
												<!--Explorer 5.0-->
											<!--</td>-->
											<!--<td>Win 95+</td>-->
											<!--<td class="center hidden-phone">5</td>-->
											<!--<td class="center hidden-phone">C</td>-->
										<!--</tr>-->
										<!---->
									<!--</tbody>-->
								<!--</table>-->
							<!--</div>-->
						<!--</section>-->
						
						<!--<section class="panel">-->
							<!--<header class="panel-heading">-->
								<!--<div class="panel-actions">-->
									<!--<a href="#" class="fa fa-caret-down"></a>-->
									<!--<a href="#" class="fa fa-times"></a>-->
								<!--</div>-->
						<!---->
								<!--<h2 class="panel-title">Rows with Details</h2>-->
							<!--</header>-->
							<!--<div class="panel-body">-->
								<!--<table class="table table-bordered table-striped mb-none" id="datatable-details">-->
									<!--<thead>-->
										<!--<tr>-->
											<!--<th>Rendering engine</th>-->
											<!--<th>Browser</th>-->
											<!--<th>Platform(s)</th>-->
											<!--<th>Engine version</th>-->
											<!--<th>CSS grade</th>-->
										<!--</tr>-->
									<!--</thead>-->
									<!--<tbody>-->
										<!--<tr class="gradeX">-->
											<!--<td>Trident</td>-->
											<!--<td>Internet-->
												 <!--Explorer 4.0</td>-->
											<!--<td>Win 95+</td>-->
											<!--<td class="center">4</td>-->
											<!--<td class="center">X</td>-->
										<!--</tr>-->
										<!---->
									<!--</tbody>-->
								<!--</table>-->
							<!--</div>-->
						<!--</section>-->
					<!-- end: page -->
				</section>
			</div>

			<!--<aside id="sidebar-right" class="sidebar-right">-->
				<!--<div class="nano">-->
					<!--<div class="nano-content">-->
						<!--<a href="#" class="mobile-close visible-xs">-->
							<!--Collapse <i class="fa fa-chevron-right"></i>-->
						<!--</a>-->
			<!---->
						<!--<div class="sidebar-right-wrapper">-->
			<!---->
							<!--<div class="sidebar-widget widget-calendar">-->
								<!--<h6>Upcoming Tasks</h6>-->
								<!--<div data-plugin-datepicker data-plugin-skin="dark" ></div>-->
			<!---->
								<!--<ul>-->
									<!--<li>-->
										<!--<time datetime="2014-04-19T00:00+00:00">04/19/2014</time>-->
										<!--<span>Company Meeting</span>-->
									<!--</li>-->
								<!--</ul>-->
							<!--</div>-->
			<!---->
							<!--<div class="sidebar-widget widget-friends">-->
								<!--<h6>Friends</h6>-->
								<!--<ul>-->
									<!--<li class="status-online">-->
										<!--<figure class="profile-picture">-->
											<!--<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">-->
										<!--</figure>-->
										<!--<div class="profile-info">-->
											<!--<span class="name">Joseph Doe Junior</span>-->
											<!--<span class="title">Hey, how are you?</span>-->
										<!--</div>-->
									<!--</li>-->
									<!--<li class="status-online">-->
										<!--<figure class="profile-picture">-->
											<!--<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">-->
										<!--</figure>-->
										<!--<div class="profile-info">-->
											<!--<span class="name">Joseph Doe Junior</span>-->
											<!--<span class="title">Hey, how are you?</span>-->
										<!--</div>-->
									<!--</li>-->
									<!--<li class="status-offline">-->
										<!--<figure class="profile-picture">-->
											<!--<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">-->
										<!--</figure>-->
										<!--<div class="profile-info">-->
											<!--<span class="name">Joseph Doe Junior</span>-->
											<!--<span class="title">Hey, how are you?</span>-->
										<!--</div>-->
									<!--</li>-->
									<!--<li class="status-offline">-->
										<!--<figure class="profile-picture">-->
											<!--<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">-->
										<!--</figure>-->
										<!--<div class="profile-info">-->
											<!--<span class="name">Joseph Doe Junior</span>-->
											<!--<span class="title">Hey, how are you?</span>-->
										<!--</div>-->
									<!--</li>-->
								<!--</ul>-->
							<!--</div>-->
			<!---->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</aside>-->
		</section>

		<!-- Vendor -->
		<script src="assets/vendor/jquery/jquery.js"></script>
		<script src="assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
		<script src="assets/vendor/bootstrap/js/bootstrap.js"></script>
		<script src="assets/vendor/nanoscroller/nanoscroller.js"></script>
		<script src="assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="assets/vendor/magnific-popup/magnific-popup.js"></script>
		<script src="assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>
		
		<!-- Specific Page Vendor -->
		<script src="assets/vendor/select2/select2.js"></script>
		<script src="assets/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
		<script src="assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
		<script src="assets/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="assets/javascripts/theme.js"></script>
		
		<!-- Theme Custom -->
		<script src="assets/javascripts/theme.custom.js"></script>
		
		<!-- Theme Initialization Files -->
		<script src="assets/javascripts/theme.init.js"></script>


		<!-- Examples -->
		<script src="assets/javascripts/tables/examples.datatables.default.js"></script>
		<script src="assets/javascripts/tables/examples.datatables.row.with.details.js"></script>
		<script src="assets/javascripts/tables/examples.datatables.tabletools.js"></script>
	</body>
</html>