/*@TODO check with design, no hover styles
   defined and active styles is not meeting
   accessibility standards */

/*temp class until we have a solution for that*/
.link-hover:hover {
  /*Primary*/
  color: #e41a4a;
  text-decoration: underline;
}

/*//@TODO color contrast from DS is not AA or AAA conform
      primary-100 is used in the meantime */
.link-active {
  /*Primary*/
  color: #a70045;
}
