<!DOCTYPE html>
<html lang="en">
<html ng-app="envsApp" ng-controller="envsCtrl">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
	<title>Add Cluster | Kafka Self-service Topic Management Portal</title>
	<link rel="canonical" href="https://www.wrappixel.com/templates/materialpro/" />
	<!-- chartist CSS -->
	<link rel="stylesheet" type="text/css" href="assets/plugins/datatables.net-bs4/css/dataTables.bootstrap4.css">
	<link rel="stylesheet" type="text/css"
		  href="assets/plugins/datatables.net-bs4/css/responsive.dataTables.min.css">
	<!-- Custom CSS -->
	<link href="assets/css/style.css" rel="stylesheet">
	<!-- You can change the theme colors from here -->
	<link href="assets/css/colors/default.css" id="theme" rel="stylesheet">

	<script src="lib/angular.min.js"></script>
	<script src="lib/angular-route.min.js"></script>
	<script src="js/envs.js"></script>
	<link rel="stylesheet" href="assets/stylesheets/custom.css" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

	<![endif]-->
</head>

<body class="fix-header card-no-border logo-center" ng-init="getAuth();">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
	<svg class="circular" viewBox="25 25 50 50">
		<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
	<!-- ============================================================== -->
	<!-- Topbar header - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<header class="topbar">
		<nav class="navbar top-navbar navbar-expand-md navbar-light">
			<!-- ============================================================== -->
			<!-- Logo -->
			<!-- ============================================================== -->
			<div class="navbar-header">
				<a class="navbar-brand" href="dashboard">
					<!-- Logo icon --><b>
					<!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
					<!-- Dark Logo icon -->
					<img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
					<!-- Light Logo icon -->
					<img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
				</b>
					<!--End Logo icon -->
					<!-- Logo text --><span>
                            <!-- dark Logo text -->
                            <img src="assets/images/logo-dark.png" alt="homepage" class="dark-logo" />
					<!-- Light Logo text -->
                            <img src="assets/images/logo-light.png" class="light-logo" alt="homepage" /></span>
				</a>
			</div>
			<!-- ============================================================== -->
			<!-- End Logo -->
			<!-- ============================================================== -->
			<div class="navbar-collapse">
				<!-- ============================================================== -->
				<!-- toggle and nav items -->
				<!-- ============================================================== -->
				<ul class="navbar-nav mr-auto mt-md-0">
					<!-- This is  -->
					<li class="nav-item"> <a
							class="nav-link nav-toggler d-block d-md-none text-muted waves-effect waves-dark"
							href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
					<li class="nav-item"> <a
							class="nav-link sidebartoggler d-none d-md-block text-muted waves-effect waves-dark"
							href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
					<!-- ============================================================== -->
					<!-- Search -->
					<!-- ============================================================== -->
					<li class="nav-item d-none d-md-block search-box"> <a
							class="nav-link d-none d-md-block text-muted waves-effect waves-dark"
							href="javascript:void(0)"><i class="ti-search"></i></a>
						<form class="app-search">
							<input type="text" class="form-control" placeholder="Search & enter"> <a
								class="srh-btn"><i class="ti-close"></i></a> </form>
					</li>
					<!-- ============================================================== -->
					<!-- Messages -->
					<!-- ============================================================== -->
					<li class="nav-item dropdown mega-dropdown"> <a
							class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href=""
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
							class="mdi mdi-view-grid"></i></a>
						<div class="dropdown-menu scale-up-left">
							<ul class="mega-dropdown-menu row">


								<li class="col-lg-3  mb-4">
									<h4 class="mb-3">CONTACT ADMIN (Coming soon..)</h4>
									<!-- Contact -->
									<form>
										<div class="form-group">
											<input type="text" class="form-control" id="exampleInputname1"
												   placeholder="Enter Name"> </div>
										<div class="form-group">
											<input type="email" class="form-control" placeholder="Enter email">
										</div>
										<div class="form-group">
                                                <textarea class="form-control" id="exampleTextarea" rows="3"
														  placeholder="Message"></textarea>
										</div>
										<button type="submit" class="btn btn-info">Submit</button>
									</form>
								</li>

							</ul>
						</div>
					</li>
					<!-- ============================================================== -->
					<!-- End Messages -->
					<!-- ============================================================== -->
				</ul>
				<!-- ============================================================== -->
				<!-- User profile and search -->
				<!-- ============================================================== -->
				<ul class="navbar-nav my-lg-0">
					<!-- ============================================================== -->
					<!-- Comment -->
					<!-- ============================================================== -->
					<li ng-if="statusauthexectopics=='Authorized'" class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark" href=""
						   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
								class="mdi mdi-message"></i>
							<div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
						</a>
						<div class="dropdown-menu dropdown-menu-right mailbox scale-up">
							<ul>
								<li>
									<h5 class="font-medium py-3 px-4 border-bottom mb-0">Approval Requests</h5>
								</li>
								<li>
									<div class="message-center position-relative">
										<!-- Message -->
										<a href="execTopics" class="border-bottom d-block text-decoration-none py-2 px-3">
											<div class="btn btn-danger btn-circle mr-2"><i class="fa fa-link"></i>
											</div>
											<div class="mail-contnet d-inline-block align-middle">
												<h5 class="my-1">Topic Requests</h5> <span
													class="mail-desc font-12 text-truncate overflow-hidden text-nowrap d-block">{{ notifications }}  requests</span>
											</div>
										</a>
										<a href="execAcls" class="border-bottom d-block text-decoration-none py-2 px-3">
											<div class="btn btn-success btn-circle mr-2"><i class="ti-calendar"></i>
											</div>
											<div class="mail-contnet d-inline-block align-middle">
												<h5 class="my-1">Acl Requests</h5> <span
													class="mail-desc font-12 text-truncate overflow-hidden text-nowrap d-block">{{ notificationsAcls }}  requests</span>

											</div>
										</a>
										<a href="execSchemas" class="border-bottom d-block text-decoration-none py-2 px-3">
											<div class="btn btn-success btn-circle mr-2"><i class="ti-pencil-alt"></i>
											</div>
											<div class="mail-contnet d-inline-block align-middle">
												<h5 class="my-1">Schema Requests</h5> <span
													class="mail-desc font-12 text-truncate overflow-hidden text-nowrap d-block">{{ notificationsAcls }}  requests</span>

											</div>
										</a>
									</div>
								</li>

							</ul>
						</div>
					</li>

					<!-- Profile -->
					<!-- ============================================================== -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href=""
						   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
								src="assets/images/users/iconuser.png" alt="user" class="profile-pic" /></a>
						<div class="dropdown-menu dropdown-menu-right scale-up">
							<ul class="dropdown-user">
								<li>
									<div class="dw-user-box">
										<div class="u-img"><img src="assets/images/logged-user.png" alt="user"></div>
										<div class="u-text">
											<h4>{{userlogged}}</h4>
											<p class="text-muted">{{teamname}}</p><a href="myProfile"
																					 class="btn btn-rounded btn-danger btn-sm">View
											Profile</a>
										</div>
									</div>
								</li>
								<li role="separator" class="divider"></li>
								<li><a href="myProfile"><i class="ti-user"></i> My Profile</a></li>
								<li><a href="changePwd"><i class="ti-wallet"></i> Change Password</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#" ng-click="logout()"><i class="fa fa-power-off"></i> Logout</a></li>
							</ul>
						</div>
					</li>
					<!-- ============================================================== -->
					<!-- Language -->
					<!-- ============================================================== -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href=""
						   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
								class="wi wi-hurricane-warning"></i></a>
						<div class="dropdown-menu dropdown-menu-right scale-up"> <a class="dropdown-item"
																					href="#">English</a>  </div>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- ============================================================== -->
	<!-- End Topbar header -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- Left Sidebar - style you can find in sidebar.scss  -->
	<!-- ============================================================== -->
	<aside class="left-sidebar">
		<!-- Sidebar scroll-->
		<div class="scroll-sidebar">
			<!-- Sidebar navigation-->
			<nav class="sidebar-nav">
				<ul id="sidebarnav">
					<li class="nav-small-cap">PERSONAL</li>
					<li>
						<a class="has-arrow" href="dashboard" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
						<ul aria-expanded="false" class="collapse">
							<li><a href="dashboard">Home</a></li>
							<li><a href="table-basic.html">My Requests</a></li>
							<li><a href="table-layout.html">Activity Log</a></li>
						</ul>
					</li>
					<li>
						<a class="has-arrow " href="browseTopics" aria-expanded="false"><i class="mdi mdi-bullseye"></i><span class="hide-menu">Topics</span></a>
					</li>
					<li class="three-column">
						<a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Requests</span></a>
						<ul aria-expanded="false" class="collapse">
							<li><a href="requestTopics">Request Topic</a></li>
							<li><a href="requestAcls">Request Acl</a></li>
							<li><a href="requestSchema">Request Schema</a></li>
							<li><a href="execTopics">Approve Topic Request</a></li>
							<li><a href="execTopics">Approve Acl Request</a></li>
							<li><a href="execSchemas">Approve Schema Request</a></li>
						</ul>
					</li>
					<li class="nav-devider"></li>
					<li class="nav-small-cap">FORMS, TABLE &amp; WIDGETS</li>
					<li class="three-column active">
						<a class="has-arrow" href="#" aria-expanded="false"><i class="fas fa-server"></i><span class="hide-menu">Clusters</span></a>
						<ul aria-expanded="false" class="collapse">
							<li><a href="form-basic.html">Kafka</a></li>
							<li><a href="form-layout.html">Schema Registry</a></li>
							<li><a href="form-addons.html">Add Cluster</a></li>
						</ul>
					</li>
					<li class="nav-devider"></li>
					<li class="nav-small-cap">EXTRA COMPONENTS</li>

					<li class="two-column">
						<a class="has-arrow " href="#" aria-expanded="false"><i class="mdi mdi-widgets"></i><span class="hide-menu">Users Management</span></a>
						<ul aria-expanded="false" class="collapse">
							<li><a href="table-basic.html">View Users</a></li>
							<li><a href="table-layout.html">View Teams</a></li>
							<li><a href="table-basic.html">Add Users</a></li>
							<li><a href="table-layout.html">Add Teams</a></li>
						</ul>
					</li>
					<li class="nav-devider"></li>
					<li class="nav-small-cap">EXTRA COMPONENTS</li>
					<li class="two-column">
						<a class="has-arrow " href="#" aria-expanded="false"><i class="mdi mdi-arrange-send-backward"></i><span class="hide-menu">Metadata Synchronize</span></a>
						<ul aria-expanded="false" class="collapse">
							<li><a href="table-basic.html">Topics</a></li>
							<li><a href="table-layout.html">Acls</a></li>
						</ul>
					</li>
					<li>
						<a class="has-arrow " href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Admin</span></a>
						<ul aria-expanded="false" class="collapse">
							<li><a href="table-basic.html">Server Properties</a></li>
						</ul>
					</li>

				</ul>
			</nav>
			<!-- End Sidebar navigation -->
		</div>
		<!-- End Sidebar scroll-->
	</aside>
	<!-- ============================================================== -->
	<!-- End Left Sidebar - style you can find in sidebar.scss  -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- Page wrapper  -->
	<!-- ============================================================== -->
	<div class="page-wrapper">
		<!-- ============================================================== -->
		<!-- Container fluid  -->
		<!-- ============================================================== -->
		<div class="container-fluid">
			<div class="row page-titles">
			</div>

			<!-- Row -->

			<div class="row" ng-show="alerttop != null && alerttop != ''">
				<div  class="col-lg-12 col-md-6 col-xlg-2 col-xs-12" >
					<div class="ribbon-wrapper card">
						<div class="ribbon ribbon-warning">Notification</div>
						<p class="ribbon-content">{{alerttop}}</p>
					</div>
				</div>
			</div>

			<!-- Row -->

			<div class="row" ng-show="alert != null && alert != ''" ng-init="">
				<div  class="col-lg-12 col-md-6 col-xlg-2 col-xs-12" >
					<div class="ribbon-wrapper card">
						<div class="ribbon ribbon-warning">Notification</div>
						<p class="ribbon-content">{{ alert }}</p>
					</div>
				</div>
			</div>

			<!-- Row -->

			<div class="row" ng-show="errorMessage != null && errorMessage != ''">
				<div  class="col-lg-12 col-md-6 col-xlg-2 col-xs-12" >
					<div class="ribbon-wrapper card">
						<div class="ribbon ribbon-warning">Notification</div>
						<p class="ribbon-content">{{ errorMessage }}</p>
					</div>
				</div>
			</div>

			<div class="row" ng-show="statusauthexectopics!='Authorized'">
				<div  class="col-lg-12 col-md-6 col-xlg-2 col-xs-12" >
					<div class="ribbon-wrapper card">
						<div class="ribbon ribbon-warning">Notification</div>
						<p class="ribbon-content">You are not authorized to perform this action !!</p>
					</div>
				</div>
			</div>

			<!-- Row -->

			<div class="row" ng-init="getExecAuth();loadTeamsSU();">
				<div ng-if="statusauthexectopics=='Authorized'" class="col-lg-12">
					<div class="card card-outline-success">
						<div class="card-header">
							<h4 class="mb-0 text-white">Add Cluster Form</h4>
						</div>
						<div class="card-body">
							<form id="form">
								<div class="form-body">

									<table class="table color-table success-table" width="100%"><tr>
										<td align="left"><h3 class="card-title">Cluster details</h3>
										</td>
										<td align="right">
											<a href="envs">
												<i class="fas fa-arrow-alt-circle-left"></i>
												<button type="button"
														class="btn waves-effect waves-light btn-rounded btn-outline-info">Back to Clusters</button>
											</a>
										</td></tr>
									</table>

									<hr>

									<!--/row-->
									<div class="row">
										<div class="col-md-6">
											<div class="form-group has-success">
												<label class="control-label">Cluster Name</label>
												<input type="text" class="form-control" required ng-model="addNewEnv.envname" placeholder="DEV-AMS">
											</div>
										</div>
										<!--/span-->
										<div class="col-md-6">
											<div class="form-group has-success">
												<label>Host</label>
												<input type="text" class="form-control" required ng-model="addNewEnv.host" placeholder="devams.cmp.net">
											</div>
										</div>
										<!--/span-->
									</div>
									<!--/row-->
									<div class="row">
										<div class="col-md-6">
											<div class="form-group has-success">
												<label class="control-label">Port</label>
												<input type="text" class="form-control" required ng-model="addNewEnv.port" placeholder="9092">
											</div>
										</div>
										<!--/span-->
										<div class="col-md-6">
											<div class="form-group has-success">
												<label>Protocol</label>
												<input type="text" disabled ng-init="addNewEnv.protocol = 'PLAIN'" class="form-control" required ng-model="addNewEnv.protocol" placeholder="9092">

											</div>
										</div>
										<!--/span-->
									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group has-success">
												<label class="control-label">Default Partitions</label>
												<input required ng-model="addNewEnv.defparts" id="addNewEnv.defparts"
													   ng-init="addNewEnv.defparts = '2'" type="text" class="form-control">
											</div>
										</div>
										<!--/span-->
										<div class="col-md-6">
											<div class="form-group has-success">
												<label>Default Max Partitions</label>
												<input required ng-model="addNewEnv.defmaxparts" id="addNewEnv.defmaxparts"
													   ng-init="addNewEnv.defmaxparts = '2'" type="text" class="form-control">
											</div>
										</div>
										<!--/span-->
									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group has-success">
												<label class="control-label">Default Replication factor</label>
												<input required ng-model="addNewEnv.defrepfctr" id="addNewEnv.defrepfctr"
													   ng-init="addNewEnv.defrepfctr = '1'" type="text" class="form-control">
											</div>
										</div>
										<!--/span-->
										<div class="col-md-6">
											<div class="form-group has-success">
												<label>Cluster Type</label>
												<select required class="form-control custom-select" ng-model="addNewEnv.type">
													<option>kafka</option>
													<option>schemaregistry</option>
												</select>
											</div>
										</div>
										<!--/span-->
									</div>

									<!--/row-->

								</div>
								<div id="successbar">{{ alert }}</div>
								<div id="alertbar">{{ alertnote }}</div>
								<div class="form-actions">
									<button ng-click="addNewEnv();" class="btn btn-success"> <i class="fa fa-check"></i>
										Save</button>
									<button type="button" ng-click="cancelRequest();" class="btn btn-inverse">Cancel</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- Row -->

			<!-- ============================================================== -->
			<!-- End PAge Content -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- Right sidebar -->
			<!-- ============================================================== -->
			<!-- .right-sidebar -->
			<div class="right-sidebar">
				<div class="slimscrollright">
					<div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span>
					</div>
					<div class="r-panel-body">
						<ul id="themecolors" class="mt-3">
							<li><b>With Light sidebar</b></li>
							<li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
							<li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
							<li><a href="javascript:void(0)" data-theme="red" class="red-theme">3</a></li>
							<li><a href="javascript:void(0)" data-theme="blue" class="blue-theme working">4</a></li>
							<li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
							<li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
							<li class="d-block mt-4"><b>With Dark sidebar</b></li>
							<li><a href="javascript:void(0)" data-theme="default-dark"
								   class="default-dark-theme">7</a></li>
							<li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a>
							</li>
							<li><a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a></li>
							<li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a>
							</li>
							<li><a href="javascript:void(0)" data-theme="purple-dark"
								   class="purple-dark-theme">11</a></li>
							<li><a href="javascript:void(0)" data-theme="megna-dark"
								   class="megna-dark-theme ">12</a></li>
						</ul>
						<ul class="mt-3 chatonline">
							<li><b>Chat option</b></li>
							<li>
								<a href="javascript:void(0)"><img src="assets/images/users/1.jpg" alt="user-img"
																  class="rounded-circle"> <span>Varun Dhavan <small
										class="text-success">online</small></span></a>
							</li>
							<li>
								<a href="javascript:void(0)"><img src="assets/images/users/2.jpg" alt="user-img"
																  class="rounded-circle"> <span>Genelia Deshmukh <small
										class="text-warning">Away</small></span></a>
							</li>
							<li>
								<a href="javascript:void(0)"><img src="assets/images/users/3.jpg" alt="user-img"
																  class="rounded-circle"> <span>Ritesh Deshmukh <small
										class="text-danger">Busy</small></span></a>
							</li>
							<li>
								<a href="javascript:void(0)"><img src="assets/images/users/4.jpg" alt="user-img"
																  class="rounded-circle"> <span>Arijit Sinh <small
										class="text-muted">Offline</small></span></a>
							</li>
							<li>
								<a href="javascript:void(0)"><img src="assets/images/users/5.jpg" alt="user-img"
																  class="rounded-circle"> <span>Govinda Star <small
										class="text-success">online</small></span></a>
							</li>
							<li>
								<a href="javascript:void(0)"><img src="assets/images/users/6.jpg" alt="user-img"
																  class="rounded-circle"> <span>John Abraham<small
										class="text-success">online</small></span></a>
							</li>
							<li>
								<a href="javascript:void(0)"><img src="assets/images/users/7.jpg" alt="user-img"
																  class="rounded-circle"> <span>Hritik Roshan<small
										class="text-success">online</small></span></a>
							</li>
							<li>
								<a href="javascript:void(0)"><img src="assets/images/users/8.jpg" alt="user-img"
																  class="rounded-circle"> <span>Pwandeep rajan <small
										class="text-success">online</small></span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End Right sidebar -->
			<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Container fluid  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- footer -->
		<!-- ============================================================== -->
		<footer class="footer">
			© 2020 Kafkawize by kafkawize.com
		</footer>
		<!-- ============================================================== -->
		<!-- End footer -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Page wrapper  -->
	<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="assets/plugins/popper/popper.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="assets/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="assets/js/waves.js"></script>
<!--Menu sidebar -->
<script src="assets/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<script src="assets/plugins/sparkline/jquery.sparkline.min.js"></script>
<!--Custom JavaScript -->
<script src="assets/js/custom.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<script src="assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="assets/plugins/datatables.net-bs4/js/dataTables.responsive.min.js"></script>
<!-- Chart JS -->
<script src="assets/js/widget-data.js"></script>
<!-- ============================================================== -->
<!-- Style switcher -->
<!-- ============================================================== -->
<!--<script src="assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>-->
</body>

</html>