<!DOCTYPE html>

<html ng-app="docsApp" ng-controller="docsCtrl">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YQB8J8J690"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YQB8J8J690');
</script>

	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
	<title>Documentation | Kafka Self-service Topic Management Portal</title>
	<link rel="canonical" href="https://www.wrappixel.com/templates/materialpro/" />
	<!-- chartist CSS -->
	<!--
<link rel="stylesheet" type="text/css" href="assets/plugins/datatables.net-bs4/css/dataTables.bootstrap4.css">
	<link rel="stylesheet" type="text/css"
		  href="assets/plugins/datatables.net-bs4/css/responsive.dataTables.min.css">
		  -->
	<!-- Custom CSS -->
	<link href="assets/css/style.css" rel="stylesheet">
	<link href="assets/css/custom.css" rel="stylesheet">
	<!-- You can change the theme colors from here -->
	<link href="assets/css/colors/blue-dark.css" id="theme" rel="stylesheet">
	<link href="assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">

	<script src="lib/angular.min.js"></script>
	<script src="lib/angular-route.min.js"></script>
	<script src="js/docs.js"></script>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

	<![endif]-->
</head>
<style>
	.demo-checkbox label, .demo-radio-button label {
  min-width: 15px;
  margin-bottom: 20px; }
</style>

<body class="fix-header card-no-border logo-center" ng-init="getAuth();">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
	<svg class="circular" viewBox="25 25 50 50">
		<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
	<!-- ============================================================== -->
	<!-- Topbar header - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<header class="topbar">
		<nav class="navbar top-navbar navbar-expand-md navbar-light">
			<!-- ============================================================== -->
			<!-- Logo -->
			<!-- ============================================================== -->
			<div class="navbar-header">
				<a class="navbar-brand" href="index">
	<h4 style="color:white;">{{ companyinfo }}</h4>
</a>
				<!-- <a href="index"><img src="assets/images/clients/logo.jpg" width="100%" /></a> -->
			</div>
			<!-- ============================================================== -->
			<!-- End Logo -->
			<!-- ============================================================== -->
			<div class="navbar-collapse">
				<!-- ============================================================== -->
				<!-- toggle and nav items -->
				<!-- ============================================================== -->
				<ul class="navbar-nav mr-auto mt-md-0">
					<!-- This is  -->

					<!-- ============================================================== -->
					<!-- Search -->
					<!-- ============================================================== -->
					<a href="index"><img class="header-logo" src="assets/images/klaw_logo.png"/></a>

				</ul>
				<!-- ============================================================== -->
				<!-- User profile and search -->
				<!-- ============================================================== -->
				<ul class="navbar-nav my-lg-0">
					<!-- ============================================================== -->
					<li class="nav-item d-none d-md-block search-box"> <a
							class="nav-link d-none d-md-block text-muted waves-effect waves-dark"
							href="requestTopics"><i class="mdi mdi-plus"></i></a>
					</li>
					<li class="nav-item d-none d-md-block search-box"> <a
							class="nav-link d-none d-md-block text-muted waves-effect waves-dark"
							href="javascript:void(0)" ng-click="refreshPage()"><i class="mdi mdi-reload"></i></a>
					</li>
					<li ng-if="dashboardDetails.approveAtleastOneRequest=='Authorized'" class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" id="2"
						   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
								class="mdi mdi-email"></i>
							<div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
						</a>
						<div  class="dropdown-menu mailbox dropdown-menu-right scale-up" aria-labelledby="2">
							<ul>
								<li>
									<h5 class="font-medium py-3 px-4 border-bottom mb-0">Approval Requests</h5>
								</li>
								<li>
									<div class="message-center position-relative">
										<!-- Message -->
										<a href="execTopics" class="border-bottom d-block text-decoration-none py-2 px-3">
											<div class="btn btn-danger btn-circle mr-2"><i class="fa fa-link"></i>
											</div>
											<div class="mail-contnet d-inline-block align-middle">
												<h5 class="my-1">Topic Requests</h5> <span
													class="mail-desc font-12 text-truncate overflow-hidden text-nowrap d-block">{{ notifications }}  requests</span>
											</div>
										</a>
										<a href="execAcls" class="border-bottom d-block text-decoration-none py-2 px-3">
											<div class="btn btn-success btn-circle mr-2"><i class="ti-calendar"></i>
											</div>
											<div class="mail-contnet d-inline-block align-middle">
												<h5 class="my-1">Acl Requests</h5> <span
													class="mail-desc font-12 text-truncate overflow-hidden text-nowrap d-block">{{ notificationsAcls }}  requests</span>

											</div>
										</a>
										<a href="execSchemas" class="border-bottom d-block text-decoration-none py-2 px-3">
											<div class="btn btn-info btn-circle mr-2"><i class="ti-pencil-alt"></i>
											</div>
											<div class="mail-contnet d-inline-block align-middle">
												<h5 class="my-1">Schema Requests</h5> <span
													class="mail-desc font-12 text-truncate overflow-hidden text-nowrap d-block">{{ notificationsSchemas }}  requests</span>

											</div>
										</a>
										<a href="execConnectors" class="border-bottom d-block text-decoration-none py-2 px-3">
											<div class="btn btn-warning btn-circle mr-2"><i class="ti-vector"></i>
											</div>
											<div class="mail-contnet d-inline-block align-middle">
												<h5 class="my-1">KafkaConnector Requests</h5> <span
													class="mail-desc font-12 text-truncate overflow-hidden text-nowrap d-block">{{ dashboardDetails.notificationsConnectors }}  requests</span>

											</div>
										</a>
										<a href="execUsers" class="border-bottom d-block text-decoration-none py-2 px-3">
											<div class="btn btn-primary btn-circle mr-2"><i class="ti-link"></i>
											</div>
											<div class="mail-contnet d-inline-block align-middle">
												<h5 class="my-1">New User Requests</h5> <span
													class="mail-desc font-12 text-truncate overflow-hidden text-nowrap d-block">{{ notificationsUsers }}  requests</span>

											</div>
										</a>
									</div>
								</li>

							</ul>
						</div>
					</li>
					<!-- ============================================================== -->
					<!-- End Messages -->
					<!-- ============================================================== -->
					<!-- ============================================================== -->
					<!-- Profile -->
					<!-- ============================================================== -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href=""
						   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

								<i class="mdi mdi-account-circle"></i>
							</button>
						</a>
						<div class="dropdown-menu dropdown-menu-right scale-up">
							<ul class="dropdown-user">
								<li>
									<div class="dw-user-box">
										<div class="u-img"><img src="assets/images/logged-user.png" alt="user"></div>
										<div class="u-text">
											<h4>{{userlogged}}</h4>
											<p class="text-muted">{{teamname}}</p><a href="myProfile"
																					 class="btn btn-rounded btn-danger btn-sm">View
											Profile</a>
										</div>
									</div>
								</li>
								<li role="separator" class="divider"></li>
								<li><a href="myProfile"><i class="ti-user"></i> My Profile</a></li>
                                 <li><a href="tenantInfo"><i class="ti-package"></i> My Tenant Info</a></li>
								<li ng-show="dashboardDetails.authenticationType=='db'"><a href="changePwd"><i class="ti-wallet"></i> Change Password</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#" ng-click="logout()"><i class="fa fa-power-off"></i> Logout</a></li>
							</ul>
						</div>
					</li>
					<!-- ============================================================== -->
					<!-- Language -->
					<!-- ============================================================== -->
					<li class="nav-item dropdown mega-dropdown">
						<a
								class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href=""
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
								class="mdi mdi-help-circle"></i></a>
						<div class="dropdown-menu scale-up-left">
							<ul class="mega-dropdown-menu row">
								<li class="col-lg-6">
									<h4 class="mb-3">Contact Administrator</h4>
									<!-- Contact -->
									<form>
										<div class="form-group">
											<input type="text" class="form-control" ng-model="contactFormSubject" placeholder="Enter Subject">
										</div>
										<div class="form-group">
											<textarea class="form-control" ng-model="contactFormMessage" rows="3" placeholder="Message"></textarea>
										</div>
										<button type="button" ng-click="sendMessageToAdmin();" class="btn btn-info">Submit</button>
									</form>
								</li>
								<li class="col-lg-3">
									<h4 class="mb-3">Help</h4>
									<!-- List style -->
									<ul class="list-style-none">
										<li>
											<table>
												<tr>
													<td><i class="mdi mdi-file-document"></i></td>
													<td><a class="dropdown-item" target="_blank" href="docs">Documentation</a></td>
												</tr>
											</table>
										</li>
										<li>
											<table>
												<tr>
													<td><i class="mdi mdi-file-document"></i></td>
													<td><a class="dropdown-item" target="_blank" href="https://kafkawize.readthedocs.io/en/latest/">ReadTheDocs</a></td>
												</tr>
											</table>
										</li>
										<li>
											<table>
												<tr>
													<td><i class="mdi mdi-blinds"></i></td>
													<td><a class="dropdown-item" target="_blank" href="{{ dashboardDetails.supportlink }}">Raise a git issue</a></td>
												</tr>
											</table>
										</li>
										<li>
											<table>
												<tr>
													<td><i class="mdi mdi-hexagon"></i></td>
													<td><a class="dropdown-item" target="_blank" href="helpwizard">Starting Wizard</a></td>
												</tr>
											</table>
										</li>
									</ul>
								</li>
								<li class="col-lg-3">
									<h4 class="mb-3">Shortcuts</h4>
									<!-- List style -->
									<ul class="list-style-none">
										<li>
											<table>
												<tr>
													<td><i class="mdi mdi-blender"></i></td>
													<td><a class="dropdown-item" target="_blank" href="requestTopics">Request Topic</a></td>
												</tr>
												<tr>
													<td><i class="mdi mdi-blender"></i></td>
													<td><a class="dropdown-item" target="_blank" href="envs">Environments</a></td>
												</tr>
												<tr>
													<td><i class="mdi mdi-blender"></i></td>
													<td><a class="dropdown-item" target="_blank" href="users">Users</a></td>
												</tr>
												<tr>
													<td><i class="mdi mdi-blender"></i></td>
													<td><a class="dropdown-item" target="_blank" href="teams">Teams</a></td>
												</tr>
											</table>
										</li>

									</ul>
								</li>
							</ul>
						</div>
					</li>
				</ul>
				<ul class="navbar-nav my-lg-0" style="width:200px;color:black;">
					<table>
						<tr>
							<td width="100%">
								<li class="nav-item d-none d-md-block search-box">
									<button type="button" class="btn waves-effect waves-light btn-block btn-xs btn-danger"
											id="userbackground">
										{{userlogged}}</button>
								</li>
							</td>

						</tr>
						<tr>
							<td width="100%">
								<li class="nav-item d-none d-md-block search-box">
									<button type="button" class="btn waves-effect waves-light btn-block btn-xs btn-danger"
											id="userbackground">
										{{teamname}} | {{userrole}}</button>

								</li>
							</td>
						</tr>

					</table>

				</ul>
			</div>
		</nav>
	</header>
	<!-- ============================================================== -->
	<!-- End Topbar header -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- Left Sidebar - style you can find in sidebar.scss  -->
	<!-- ============================================================== -->
	<aside class="left-sidebar">
		<!-- Sidebar scroll-->
		<div class="scroll-sidebar">
			<!-- Sidebar navigation-->
			<nav class="sidebar-nav">
				<ul id="sidebarnav">
					<li class="nav-small-cap">PERSONAL</li>
					<li class="active">
						<a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
						<ul aria-expanded="false" class="collapse">
							<li><a href="index">Home</a></li>
							<li><a href="activityLog">Activity Log</a></li>
							<li><a href="analytics">Analytics</a></li>
							<li><a href="serverConfig">Settings</a></li>
						</ul>
					</li>
					<li ng-show="dashboardDetails.viewTopics=='Authorized'">
						<a class="has-arrow " href="browseTopics" aria-expanded="false"><i class="mdi mdi-bullseye"></i><span class="hide-menu">Topics</span></a>
					</li>
              					<li ng-show="dashboardDetails.viewKafkaConnect=='Authorized'">
						<a class="has-arrow " href="kafkaConnectors" aria-expanded="false"><i class="mdi mdi-lan-connect"></i><span class="hide-menu">Kafka Connect</span></a>
					</li>
					<li class="two-column" ng-show="dashboardDetails.requestItems=='Authorized'">
                        <a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Requests</span></a>
						<ul aria-expanded="false" class="collapse">
							<li><a href="requestTopics">Request Topic</a></li>
					<li><a href="requestConnector">Request Connector</a></li>

							<li><a href="myTopicRequests">My Topic Requests</a></li>
							<li><a href="myAclRequests">My Acl Requests</a></li>
							<li><a href="mySchemaRequests">My Schema Requests</a></li>
					<li><a href="myConnectorRequests">My Connector Requests</a></li>
						</ul>
					</li>
					<li class="nav-devider"></li>
					<li class="nav-small-cap">FORMS, TABLE &amp; WIDGETS</li>
					<li class="two-column">
						<a class="has-arrow" href="#" aria-expanded="false"><i class="fas fa-server"></i><span class="hide-menu">Environments</span></a>
						<ul aria-expanded="false" class="collapse">
							<li><a href="envs">Environments</a></li>
							<li><a href="clusters">Clusters</a></li>
							<li ng-show="dashboardDetails.showAddDeleteTenants == 'Authorized'" ><a href="tenants">Tenants</a></li>
						</ul>
					</li>
					<li class="nav-devider"></li>
					<li class="nav-small-cap">EXTRA COMPONENTS</li>

					<li class="two-column">
						<a class="has-arrow " href="#" aria-expanded="false"><i class="mdi mdi-widgets"></i><span class="hide-menu">Users - Teams</span></a>
						<ul aria-expanded="false" class="collapse">
							<li><a href="users">Users</a></li>
							<li><a href="teams">Teams</a></li>
						</ul>
					</li>
					<li class="two-column" ng-show="dashboardDetails.canUpdatePermissions=='Authorized'">
						<a class="has-arrow " href="#" aria-expanded="false"><i class="mdi mdi-account-key"></i><span class="hide-menu">Roles - Permissions</span></a>
						<ul aria-expanded="false" class="collapse">
							<li><a href="roles">Roles</a></li>
							<li><a href="permissions">Permissions</a></li>
						</ul>
					</li>
					<li class="nav-devider"></li>
					<li class="nav-small-cap">EXTRA COMPONENTS</li>
					<li class="two-column" ng-show="dashboardDetails.syncTopicsAcls == 'Authorized' || dashboardDetails.syncBackTopics == 'Authorized' || dashboardDetails.syncConnectors == 'Authorized'">
						<a class="has-arrow " href="#" aria-expanded="false"><i class="mdi mdi-arrange-send-backward"></i><span class="hide-menu">Synchronize</span></a>
						<ul aria-expanded="false" class="collapse">
							<li ng-show="dashboardDetails.syncTopicsAcls == 'Authorized'"><a href="synchronizeTopics">Topics from cluster</a></li>
							<li ng-show="dashboardDetails.syncTopicsAcls == 'Authorized'"><a href="synchronizeAcls">Acls from cluster</a></li>
							<li ng-show="dashboardDetails.syncBackTopics == 'Authorized'"><a href="syncBackTopics">Topics to cluster</a></li>
							<li ng-show="dashboardDetails.syncBackAcls == 'Authorized'"><a href="syncBackAcls">Acls to cluster</a></li>
							<li ng-show="dashboardDetails.syncConnectors == 'Authorized'"><a href="syncConnectors">Connectors from cluster</a></li>
						</ul>
					</li>
					<li class="nav-devider"></li>
					<li class="nav-small-cap">EXTRA COMPONENTS</li>
					<li ng-show="dashboardDetails.approveAtleastOneRequest=='Authorized'">
						<a class="has-arrow " href="#" aria-expanded="false"><i class="mdi mdi-chemical-weapon"></i><span class="hide-menu">Approve</span></a>
						<ul aria-expanded="false" class="collapse">
							<li ng-show="dashboardDetails.approveDeclineTopics=='Authorized'"><a href="execTopics">Topic Request</a></li>
							<li ng-show="dashboardDetails.approveDeclineSubscriptions=='Authorized'"><a href="execAcls">Acl Request</a></li>
							<li ng-show="dashboardDetails.approveDeclineSchemas=='Authorized'"><a href="execSchemas">Schema Request</a></li>
					<li ng-show="dashboardDetails.approveDeclineConnectors=='Authorized'"><a href="execConnectors">KafkaConnect Request</a></li>
							  <li ng-show="dashboardDetails.addUser=='Authorized'"><a href="execUsers">User Request</a></li>
						</ul>
					</li>

				</ul>
			</nav>
			<!-- End Sidebar navigation -->
		</div>
		<div class="notificationbar" ng-show="dashboardDetails.broadcastText != ''">
			<marquee>{{ dashboardDetails.broadcastText }}</marquee>
		</div>
		<!-- End Sidebar scroll-->
	</aside>
	<!-- ============================================================== -->
	<!-- End Left Sidebar - style you can find in sidebar.scss  -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- Page wrapper  -->
	<!-- ============================================================== -->
	<div class="page-wrapper">
		<!-- ============================================================== -->
		<!-- Container fluid  -->
		<!-- ============================================================== -->
		<div class="container-fluid">
			<div class="row page-titles">
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
<!--							<table class="table color-table success-table" style="border:0px;" width="100%">-->
<!--								<tr>-->
<!--									<td align="left"><h3 class="card-title">Documentation</h3>-->
<!--									</td>-->
<!--									<td>-->
<!--									</td>-->
<!--								</tr>-->
<!--							</table>-->
							<hr size="1" color="black">

							<div class="row">
								<div class="col-lg-4 col-xl-3">
									<div class="card-body inbox-panel">
<!--										<div class="form-group has-danger">-->
<!--											<input type="text" class="form-control" required ng-model="searchContent" minlength="5" maxlength="20" placeholder="Search">-->
<!--										</div>-->
										<a href="#"
										   class="btn btn-danger mb-3 p-2 btn-block waves-effect waves-light">Documentation</a>
										<h3 class="card-title mt-4">Components</h3>
										<ul class="list-group list-group-full">

											<li ng-show="dashboard=='true'" class="list-group-item active">
												<a ng-click="docDashboard();" href="javascript:void(0)"> <i class="mdi mdi-view-dashboard"></i> Dashboard </a>
											</li>
											<li ng-show="dashboard!='true'" class="list-group-item">
												<a ng-click="docDashboard();" href="javascript:void(0)"> <i class="mdi mdi-view-dashboard"></i> Dashboard </a>
											</li>

											<li ng-show="topics=='true'" class="list-group-item active"> <a ng-click="docTopics();" href="javascript:void(0)"><i
													class="mdi mdi-all-inclusive"></i> Topics </a></li>
											<li ng-show="topics!='true'" class="list-group-item"> <a ng-click="docTopics();" href="javascript:void(0)"><i
													class="mdi mdi-all-inclusive"></i> Topics </a></li>

											<li ng-show="acls=='true'" class="list-group-item active">
												<a ng-click="docAcls();" href="javascript:void(0)"> <i class="mdi mdi-view-day"></i> Access controls </a>
											</li>
											<li ng-show="acls!='true'" class="list-group-item">
												<a ng-click="docAcls();" href="javascript:void(0)"> <i class="mdi mdi-view-day"></i> Access controls </a>
											</li>

											<li ng-show="schemas=='true'" class="list-group-item active">
												<a ng-click="docSchemas();" href="javascript:void(0)"> <i class="mdi mdi-send"> Schemas </i>
												</a></li>
											<li ng-show="schemas!='true'" class="list-group-item">
												<a ng-click="docSchemas();" href="javascript:void(0)"> <i class="mdi mdi-send"> Schemas </i>
												</a></li>


											<li ng-show="syncfromcluster=='true'" class="list-group-item active">
												<a ng-click="docSyncFromCluster();" href="javascript:void(0)"> <i class="mdi mdi-view-module"></i> Synchronize From Cluster </a>
											</li>
											<li ng-show="syncfromcluster!='true'" class="list-group-item">
												<a ng-click="docSyncFromCluster();" href="javascript:void(0)"> <i class="mdi mdi-view-module"></i> Synchronize From Cluster </a>
											</li>

											<li ng-show="synctocluster=='true'" class="list-group-item active">
												<a ng-click="docSyncToCluster();" href="javascript:void(0)"> <i class="mdi mdi-view-grid"></i> Synchronize To Cluster </a>
											</li>
											<li ng-show="synctocluster!='true'" class="list-group-item">
												<a ng-click="docSyncToCluster();" href="javascript:void(0)"> <i class="mdi mdi-view-grid"></i> Synchronize To Cluster </a>
											</li>

											<li ng-show="analytics=='true'" class="list-group-item active">
												<a ng-click="docAnalytics();" href="javascript:void(0)"> <i class="mdi mdi-file-document-box"></i>
													Analytics </a>
											</li>
											<li ng-show="analytics!='true'" class="list-group-item ">
												<a ng-click="docAnalytics();" href="javascript:void(0)"> <i class="mdi mdi-file-document-box"></i>
													Analytics </a>
											</li>

										</ul>
										<h3 class="card-title mt-4">Configuration</h3>
										<div class="list-group b-0 mail-list">

											<a ng-click="docTenants();" ng-show="tenants=='true'" href="javascript:void(0)" class="list-group-item active"><span
													class="fa fa-circle text-info mr-2"></span><font color="blue">Tenants</font></a>
											<a ng-click="docTenants();" ng-show="tenants!='true'" href="javascript:void(0)" class="list-group-item"><span
													class="fa fa-circle text-info mr-2"></span>Tenants</a>

											<a ng-click="docClusters();" ng-show="clusters=='true'" href="javascript:void(0)" class="list-group-item active"><span
													class="fa fa-circle text-info mr-2"></span><font color="blue">Clusters</font></a>
											<a ng-click="docClusters();" ng-show="clusters!='true'" href="javascript:void(0)" class="list-group-item"><span
													class="fa fa-circle text-info mr-2"></span>Clusters</a>

											<a ng-click="docEnvironments();" ng-show="envs=='true'" href="javascript:void(0)" class="list-group-item active"><span
													class="fa fa-circle text-info mr-2"></span><font color="blue">Environments</font></a>
											<a ng-click="docEnvironments();" ng-show="envs!='true'" href="javascript:void(0)" class="list-group-item"><span
													class="fa fa-circle text-info mr-2"></span>Environments</a>

											<a ng-click="docTeams();" ng-show="teams=='true'" href="javascript:void(0)" class="list-group-item active"><span
													class="fa fa-circle text-info mr-2"></span><font color="blue">Teams</font></a>
											<a ng-click="docTeams();" ng-show="teams!='true'" href="javascript:void(0)" class="list-group-item"><span
													class="fa fa-circle text-info mr-2"></span>Teams</a>

											<a ng-click="docUsers();" ng-show="users=='true'" href="javascript:void(0)" class="list-group-item active"><span
													class="fa fa-circle text-info mr-2"></span><font color="blue">Users</font></a>
											<a ng-click="docUsers();" ng-show="users!='true'" href="javascript:void(0)" class="list-group-item"><span
													class="fa fa-circle text-info mr-2"></span>Users</a>

											<a ng-click="docRoles();" ng-show="roles=='true'" href="javascript:void(0)" class="list-group-item active"><span
													class="fa fa-circle text-info mr-2"></span><font color="blue">Roles</font></a>
											<a ng-click="docRoles();" ng-show="roles!='true'" href="javascript:void(0)" class="list-group-item"><span
													class="fa fa-circle text-info mr-2"></span>Roles</a>

											<a ng-click="docPermissions();" ng-show="perms=='true'" href="javascript:void(0)" class="list-group-item active"><span
													class="fa fa-circle text-info mr-2"></span><font color="blue">Permissions</font></a>
											<a ng-click="docPermissions();" ng-show="perms!='true'" href="javascript:void(0)" class="list-group-item"><span
													class="fa fa-circle text-info mr-2"></span>Permissions</a>

											<a ng-click="docOthers();" ng-show="others=='true'" href="javascript:void(0)" class="list-group-item active"><span
													class="fa fa-circle text-info mr-2"></span><font color="blue">Others</font></a>
											<a ng-click="docOthers();" ng-show="others!='true'" href="javascript:void(0)" class="list-group-item"><span
													class="fa fa-circle text-info mr-2"></span>Others</a>

                                            <a ng-click="docServerConfig();" ng-show="serverconfig=='true'" href="javascript:void(0)" class="list-group-item active"><span
                                                    class="fa fa-circle text-info mr-2"></span><font color="blue">Server Configuration</font></a>
                                            <a ng-click="docServerConfig();" ng-show="serverconfig!='true'" href="javascript:void(0)" class="list-group-item"><span
                                                    class="fa fa-circle text-info mr-2"></span>Server Configuration</a>

										</div>
									</div>
								</div>
								<div class="col-lg-8 col-xl-9">
									<div ng-show="topics=='true'" class="card-body">
										<h3 class="card-title mt-4">Topics</h3>
										After selecting <a href="topics">topics</a> all the topics are displayed from all Kafka <a href="envs">environments</a>.
										<br>You can search for topics with topic name or selecting a team., or can be searched based on the available documentation.
										<br><br>
										If you do not see the topics, there could be multiple reasons. No topics have been requested through Kafkawize, or no topics are synchronized, or there is a database connection issue. Please check with your administrator for Help from tp right.
										<br><h4 class="card-title mt-4">Topic Overview</h4><br>
										To see the details of a topic, click on any of the topics from <a href="topics">topics</a> page. Topic details are shown.
										<br>In topic details, all topic partitions and replication factor per each environment are shown.
										<br>At the bottom of the topic overview page, all the subscriptions (acls are shown).
										<br><h4 class="card-title mt-4">New topic</h4>To request for a new topic <a href="requestTopics">Request Topic</a>
										<br>Note : You should have REQUEST_CREATE_TOPICS permission to request for a topic.
										<br>The environments displayed here are being retrieved from team configuration, which is a subset of kafkawize.tenant.config property. A full list of request topics is configured at <a href="serverConfig">Server configuration</a> for property kafkawize.tenant.config
										<br><h4 class="card-title mt-4">Promote Topic</h4>
										If a topic exists in lower environment, it can be requested for promotion to next environment if your team is the owner of the topic from overview page.
										<br>It is possible to select topic partitions from this page specific to that target environment.
										<br>On submission, a request is generated for approval who has APPROVE_TOPICS permission. After approval, topic is promoted.
										<br><h4 class="card-title mt-4">Delete Topic</h4>
										From the topic overview page, a topic can be submitted for deletion. You can submit a deletion only if your team is the owner of the topic and
										there are no subscriptions(producers and consumers) for the topic.
										<br>On submission, a request is generated for approval who has APPROVE_TOPICS permission. After approval, topic is deleted from the environment.
										<br>If a topic exists in Dev, Tst, Acc and Prod environments, it is possible to delete the topic in Prod first.
										<br><h4 class="card-title mt-4">Claim Topic</h4>
										Teams can gain ownership which they do not own. In this case, a Topic claim request is raised and should be approved by exisiting owners.
										<br> On approval, topic ownership is updated with new Team owner.
										<br><h4 class="card-title mt-4">Topic promotion environment hierarchy</h4>
										From <a href="serverConfig">Server configuration</a>, environment hierarchy can be configured. For ex: DEV,TST,ACC,PRD

                                        <h4 class="card-title mt-4">Approve/Decline Topic requests</h4>
                                        Users who have APPROVE_TOPICS permission can approve/decline topic requests from <a href="execTopics">Approve Topics</a> page.
										<br>With this permission APPROVE_ALL_REQUESTS_TEAMS, it is possible to approve decline all requests of all teams within same tenant.
									</div>
									<div ng-show="acls=='true'" class="card-body">
										<h3 class="card-title mt-4">Access Controls</h3>
										After a user selects a topic from <a href="topics">topics</a>, he/she will be in the TopicOverview page.<br>
										At the bottom, producer/consumer subscriptions are visible.
										<br>Prefixed acls and TransactionId acls are visible in different tabs
										<br><h4 class="card-title mt-4">Subscribe to a topic</h4>
										In the topic overview page, there is a Subscribe button which opens a page to request for a new subscription.
										<br> After selecting an environment, you can select Producer or Consumer.
										<br>If you select Producer, you would see two options. You can choose between LITERAL or PREFIXED. Optionally you can mention a transactionalId.
										<br><b>Note:</b>For prefixed acls, it is mandatory to have atleast one topic existing in Kafkawize with that prefix.
										<br>If you select Consumer, consumer group should be mentioned.
										<br>Acl can be of IP address or Principle based.
										<br><br><b>Note</b>: Only users with REQUEST_CREATE_SUBSCRIPTIONS can submit new subscription requests. <br>
										After submission, request is generated and sent to Topic owner team for approval, and an email notification is sent.
										<br>Approver needs APPROVE_SUBSCRIPTIONS permission.
                                        <h4 class="card-title mt-4">Approve/Decline Acl requests</h4>
                                        Users who have APPROVE_SUBSCRIPTIONS permission can approve/decline acl requests from <a href="execAcls">Approve Acls</a> page.
									</div>
									<div ng-show="schemas=='true'" class="card-body">
										<h3 class="card-title mt-4">Avro Schemas</h3>
										We are referring to Avro schemas which can be registered in Confluent Schema registry.
										<br>At this moment, only the latest schemas for a subject (topic) in each environment on schema registry are visible in Schemas tab in TopicOverview page.
										<br><h4 class="card-title mt-4">Request for schema</h4>
										To submit a new schema request go to <a href="requestSchema">Request Schema</a>
										<br>After selecting an environment, and topic, copy paste the Avro schema in the textarea of Schema.
										<br><br><b>Note:</b>Your team should be the owner of the topic to request for a schema.
										<br>You should have REQUEST_CREATE_SCHEMAS permission to request for a schema.
										<br>After submission, a request is generated and sent to your team for approval. Approvers need APPROVE_SCHEMAS permission.
                                        <h4 class="card-title mt-4">Approve/Decline Schema requests</h4>
                                        Users who have APPROVE_SCHEMAS permission can approve/decline schema requests from <a href="execSchemas">Approve Schemas</a> page.
									</div>
									<div ng-show="analytics=='true'" class="card-body">
										<h3 class="card-title mt-4">Analytics</h3>
										Analytics at a tenant level can be seen from this <a href="analytics">page</a>
										<br>- Total topics,partitions,subscriptions per environment.
										<br>- Total topics per team in all clusters
										<br>- Producer and Consumer subscriptions per team can be seen
										<br>- Total requests per day, which includes topic and subscription requests for the last 30 days.
										<br><h4 class="card-title mt-4">Download report</h4>
										An excel report can be downloaded which includes all the above statistics. Topics per environment are part of the report.
										<br>Report varies based on roles., and which team you belong to.
									</div>
									<div ng-show="dashboard=='true'" class="card-body">
										<h3 class="card-title mt-4">Dashboard</h3>
										Dashboard is <a href="index">here</a>. Lot of information is available here.
										<br>- Topics owned by my team, and can be viewed
										<br>- My team members
										<br>- Topics to which my team applications are producing to.
										<br>- Topics from which my team applications are consuming from.
										<br>- A graph displaying the activity log of your team.
										<br>- A graph displaying total topics per cluster which are owned by your team.
										<br>- Pending topic/subscription/schema requests
										<br>- All Kafka and schema <a href="envs">environments</a> and their online status
										<br><h4 class="card-title mt-4">Download report</h4>
										An excel report can be downloaded which includes all the above statistics.
									</div>
									<div ng-show="syncfromcluster=='true'" class="card-body">
										<h3 class="card-title mt-4">Synchronize From Cluster</h3>
										Synchronize is available in the main menu. Topics and Subscriptions from an existing Kafka environment can be associated to teams.
										<br><h4 class="card-title mt-4">Topics from cluster</h4>
										From <a href="synchronizeTopics">here</a>, you can retrieve all the topics from selected Kafka environment (connected Kafka cluster).
										<br>You will see a list of topics from that environment. You can associate a team to each of those topics.
										<br>If a topic exists in multiple environments, it is mandatory to assign a team to a topic from Base Sync Cluster
										<br><b>Note:</b>It is not possible to assign different teams to same topic which exists in different environments.
										<br>A user with permission SYNC_TOPICS can perform this action.
										<br><h4 class="card-title mt-4">Acls from cluster</h4>
										From <a href="synchronizeAcls">here</a>, you can retrieve all the subscriptions (LITERAL) from selected Kafka environment.
										<br>You will see a list of producer and consumer subscriptions from that environment. You can associate a team to each of them.
										<br>A user with permission SYNC_SUBSCRIPTIONS can perform this action.

										<br><br>It is possible to change teams for any topics at any point of time from this feature.
									</div>
									<div ng-show="synctocluster=='true'" class="card-body">
										<h3 class="card-title mt-4">Synchronize To Cluster</h3>
										Synchronize is available in the main menu. Topics and Subscriptions can be recreated back on Kafka cluster with data available on Kafkawize.
										<br>If you have any issues with Kafka cluster, and lost all your topics and acls, you can recreate all of them with one single click from here.
										<br><h4 class="card-title mt-4">Topics to cluster</h4>
										From <a href="syncBackTopics">here</a>, you can retrieve all the topics from selected Kafka environment from within Kafkawize (not Kafka clsuter).
										<br>After selecting and environment, topics from that environment availablein Kafkawize are displayed. You can select a few or there is an option to select all the topics of source environment.
										<br>You need select a target environment and hit the Create button, which will start to create topics on the target environment.
										<br>A full log is displayed at the bottom of the page.
									</div>
									<div ng-show="serverconfig=='true'" class="card-body">
										<h3 class="card-title mt-4">Server Configuration</h3>

                                        <br><br>The following can be configured from <a href="serverConfig">Server configuration</a>
                                        <br>- Email Notifications content for all notifications
                                        <br>- Cluster Api connection parameters. Connection can be tested.
                                        <br>- Temporay location for downloading reports Ex : /tmp
                                        <br>- Email id of Super admin (kafkawize.superuser.mailid), for kafkawize users to contact in caes of any issues
                                        <br>- Retrieve Avro schemas (kafkawize.getschemas.enable) true/false
                                        <br>- Names of environments (kafkawize.envs.standardnames) DEV/TST..
                                        <br>- Allowed roles when adding a new user
                                        <br>- Tenant configuration (kafkawize.tenant.config). Base Sync cluster, order of topics promotion environments, request topics environments

                                        User who has UPDATE_SERVERCONFIG permission can update server configuration.

                                        <br><h4 class="card-title mt-4">Cache reset</h4>
                                        When a new property or server configuration is added or updated directly from Database, you can reset the cache from this page, to reflect the changes.

                                        <br><h4 class="card-title mt-4">Stop Kafkawize</h4>
                                        Kafkawize can be stopped from this page. User who has SHUTDOWN_KAFKAWIZE permission can stop.

                                    </div>
									<div ng-show="tenants=='true'" class="card-body">
										<h3 class="card-title mt-4">Tenants</h3>
										Tenants are introduce isolation of topics for all teams, and environments.
                                        Tenants are associated with teams and environments. Basically it provides an isolated environment.
                                        <br>Tenants can be accessed from <a href="tenants">Tenants</a> page. A new tenant can be added from <a href="addTenant">Add Tenant</a>
                                        <br>Only users with ADD_EDIT_DELETE_TENANTS permission can add tenants.
                                        <br><h4 class="card-title mt-4">Example</h4>
                                        <br>Tenant1 consists of DEV, TST, ACC, PRD, and teams Octopus, Starfish
                                        <br>Tenant2 consists of DEV, TST, ACC, PRD, and teams Warriors and Rebels
                                        <br>Now, Octopus and Starfish teams cannot see or request for any topics related to Tenant2 environments., and other way round too.
                                        <br>By default, one tenant is always installed.
                                    </div>
									<div ng-show="clusters=='true'" class="card-body">
										<h3 class="card-title mt-4">Clusters</h3>
										Clusters define the bootstrap servers and their protocols
                                        <br>Clusters can be accessed from <a href="clusters">Clusters</a> page. A new cluster can be added from <a href="addCluster">Add Cluster</a>
                                        <br>Only users with ADD_EDIT_DELETE_CLUSTERS permission, can add, modify, delete clusters.

									</div>
									<div ng-show="envs=='true'" class="card-body">
										<h3 class="card-title mt-4">Environments</h3>
										Environments are associated with clusters and tenants., and other parameters like default partitions, max partitions, replication factor,
										and topic prefix and suffix.
                                        <br>Environments can be accessed from <a href="envs">Environments</a> page. A new tenant can be added from <a href="addEnv">Add Environment</a>
                                        <br>Only users with ADD_EDIT_DELETE_ENVS permission, can add, modify, delete Environments.
									</div>

									<div ng-show="teams=='true'" class="card-body">
										<h3 class="card-title mt-4">Teams</h3>
                                        Teams are associated with tenants. There is an option to select to which environments, topics can be requested by this team.
                                        <br>By default all available environments defined in ServerConfig tenant configuration, are applicable.
                                        <br>Teams can be accessed from <a href="teams">Teams</a> page. A new team can be added from <a href="addTeam">Add Team</a>
										<br>Only users with ADD_EDIT_DELETE_TEAMS permission, can add, modify, delete Teams.
									</div>
                                    <div ng-show="users=='true'" class="card-body">
                                        <h3 class="card-title mt-4">Users</h3>
                                        Users are associated with teams., and roles.One user can have only one role.
                                        <br>Users can be accessed from <a href="users">Users</a> page. A new user can be added directly by user from <a href="addUser">Add User</a> by user who has
                                        ADD_EDIT_DELETE_USERS permission.

                                        <br><h4 class="card-title mt-4">New User</h4>
                                        A new user can register from <a href="register">Register</a> page. After submitting request, it has to be approved.
                                        <br>Only users with ADD_EDIT_DELETE_USERS permission, can approve a new user request.

                                        <br>In case of Active directory, approved users, can use their AD account password.
                                        <h4 class="card-title mt-4">Approve/Decline New User requests</h4>
                                        Users who have ADD_EDIT_DELETE_USERS permission can approve/decline user requests from <a href="execUsers">Approve Users</a> page.

                                    </div>
									<div ng-show="roles=='true'" class="card-body">
										<h3 class="card-title mt-4">Roles</h3>
										Every user has a role. All roles can be accessed from <a href="roles">Roles</a> page.
                                        <br>A new role can be added by user who has from ADD_EDIT_DELETE_ROLES permission., from page <a href="addRole">Add Role</a>

									</div>
									<div ng-show="perms=='true'" class="card-body">
										<h3 class="card-title mt-4">Permissions</h3>
										Every role has a set of permissions., which can be updated by users who have UPDATE_PERMISSIONS permission.
                                        Available permissions:

                                        <br>REQUEST_CREATE_TOPICS
                                        <br>REQUEST_DELETE_TOPICS
                                        <br>REQUEST_CREATE_SUBSCRIPTIONS
                                        <br>REQUEST_DELETE_SUBSCRIPTIONS
                                        <br>REQUEST_CREATE_SCHEMAS
                                        <br>REQUEST_DELETE_SCHEMAS
                                        <br>APPROVE_TOPICS
                                        <br>APPROVE_SUBSCRIPTIONS
                                        <br>APPROVE_SCHEMAS
										<br>APPROVE_ALL_REQUESTS_TEAMS
                                        <br>SYNC_TOPICS
                                        <br>SYNC_SUBSCRIPTIONS
                                        <br>SYNC_BACK_TOPICS
                                        <br>SYNC_BACK_SUBSCRIPTIONS
                                        <br>ADD_EDIT_DELETE_TEAMS
                                        <br>ADD_EDIT_DELETE_USERS
                                        <br>ADD_EDIT_DELETE_CLUSTERS
                                        <br>ADD_EDIT_DELETE_ENVS
                                        <br>ADD_EDIT_DELETE_TENANTS
                                        <br>ADD_EDIT_DELETE_ROLES
                                        <br>UPDATE_PERMISSIONS
                                        <br>UPDATE_SERVERCONFIG
                                        <br>VIEW_EDIT_ALL_ENVS_CLUSTERS_TENANTS
										<br>FULL_ACCESS_USERS_TEAMS_ROLES
                                        <br>SHUTDOWN_KAFKAWIZE
										<br>ALL_TEAMS_REPORTS

										<br><br>Permissions can be updated from <a href="permissions">Permissions</a> page
									</div>
									<div ng-show="others=='true'" class="card-body">
										<h3 class="card-title mt-4">Other Features</h3>
										<br>Consumer offsets and lag info of Topics, Consumer groups are displayed in topic detail page.
										<br>Every topic has a detailed documentation page, where you can update with any relevant info.
                                        <br>Users can change password from <a href="changePwd">Change Password</a> page
                                        <br>Profile page from <a href="myProfile">MyProfile</a> page
										<br>My Topic Requests from <a href="myTopicRequests">My TopicRequests</a> page
                                        <br>My Acl Requests from <a href="myAclRequests">My AclRequests</a> page
                                        <br>ActivityLog from <a href="activityLog">Activity Log</a> page
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
		<!-- ============================================================== -->
		<!-- End Container fluid  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- footer -->
		<!-- ============================================================== -->
		<footer class="footer">
			<a href="https://klaw-project.io">klaw-project.io</a>
		</footer>
		<!-- ============================================================== -->
		<!-- End footer -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Page wrapper  -->
	<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="assets/plugins/popper/popper.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="assets/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="assets/js/waves.js"></script>
<!--Menu sidebar -->
<script src="assets/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<script src="assets/plugins/sparkline/jquery.sparkline.min.js"></script>
<!--Custom JavaScript -->
<script src="assets/js/custom.min.js"></script>
<!--
<script src="assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="assets/plugins/datatables.net-bs4/js/dataTables.responsive.min.js"></script>
-->
<!-- Chart JS -->
<script src="assets/plugins/gauge/gauge.min.js"></script>
<script src="assets/plugins/sweetalert/sweetalert.min.js"></script>
<!-- <script src="assets/js/widget-data.js"></script> -->
</body>

</html>