<!DOCTYPE html>
<html lang="en">
<html ng-app="registerUsersApp" ng-controller="registerUsersCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YQB8J8J690"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YQB8J8J690');
</script>

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Register User | Kafka Self-service Topic Management Portal</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/materialpro/" />

    <link href="assets/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="assets/css/colors/blue-dark.css" id="theme" rel="stylesheet">
    <link href="assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">

    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>
<!--    <script src="js/registerUsers.js"></script>-->
    <link rel="stylesheet" href="assets/css/custom.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
</head>


<body class="fix-header card-no-border logo-center">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <div class="navbar-header">
                <!-- <a href="index"><img src="assets/images/clients/logo.jpg" width="100%" /></a> -->
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav mr-auto mt-md-0">
                    <a href="index"><img class="header-logo" src="assets/images/klaw_logo.png"/></a>

                </ul>
                <ul class="navbar-nav my-lg-0">

                    <li class="nav-item">
                        <table width="100%">
                            <tr>
                                <td><a class="nav-link" href="login">
                                    <span style="color:white">Login</span></a></td>
                                <td></td>
                            </tr>
                        </table>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Terms & Conditions</h4>
                            <!-- Accordian-part -->
                            <div id="accordian-part">
                                <div id="accordian-3">
                                    <div class="card mb-0 border-0">
                                        <div class="card-header pl-0">
                                            <h5 class="mb-0">
                                                <a href="#" class="link p-2" id="headingOne" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                                    Data Sovereignty and the GDPR
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordian-3">
                                            <div class="card-body pl-0">
                                                  &nbsp;&nbsp;You agree to store your data with us on vendor cloud infrastructure.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- End accordian-part -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<!--<script src="assets/plugins/popper/popper.min.js"></script>-->
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="assets/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="assets/js/waves.js"></script>
<!--Menu sidebar -->
<script src="assets/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<script src="assets/plugins/sparkline/jquery.sparkline.min.js"></script>
<!--Custom JavaScript -->
<script src="assets/js/custom.min.js"></script>
<script src="assets/plugins/sweetalert/sweetalert.min.js"></script>
</body>

</html>