/*SkipLink should only be visible for assistive*/
/*technology like screenreader and while navigating*/
/*Klaw with the keyboard. */

.skipLink {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skipLink:hover {
  cursor: default;
}

.skipLink:focus-visible {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  cursor: default;
  color: #e41a4a;
  background-color: white;
  font-size: 16px;
  width: 200px;
  height: 30px;
}
