
/*
Main Style Sheet
*/



.message
	{
	font-family: "Tahoma", "Courier", "Courier New";
	padding: 10px;
	font-weight: normal;
	font-size : 12px;
	background-color: #ffffff;
	color: #000000;
	text-align: left;
	letter-spacing: 1px;
	border: 2px solid #000000;
	}

