/*@TODO check with design, no hover styles
   defined and active styles is not meeting
   accessibility standards */

.mainNavigationLink a {
  color: var(--body-text-color);
}

.mainNavigationLink a:hover,
.mainNavigationLink:focus-within {
  color: var(--main-navigation-hover);
}

.mainNavigationLinkActive a {
  color: var(--main-navigation-active);
}
.mainNavigationLinkActive {
  background-color: white;
}
