/*@TODO check with design, no hover styles
   defined and active styles is not meeting
   accessibility standards */

.mainNavigationLink a {
  color: var(--body-text-color) !important;
  display: block;
}

.mainNavigationLink a:hover,
.mainNavigationLink:focus-within {
  color: var(--main-navigation-hover) !important;
}

.mainNavigationLinkActive a {
  display: block;
  color: var(--main-navigation-active) !important;
}

.mainNavigationLinkActive {
  background-color: white !important;
}

