/*@TODO check with design, no hover styles
   defined and active styles is not meeting
   accessibility standards */

.main-navigation-link:hover,
.main-navigation-link:focus-within {
  color: var(--hover-indicator-primary-80);
}

.main-navigation-link-active {
  background-color: white;
  color: var(--active-indicator-primary-100);
}
