/* DS does not offer the option to have a */
/* th element outside of thead right now */
/* usage of <th> manually works, but there are */
/* no styles for it, so this class is temp needed */
.topicTableRowHead {
  padding-left: 12px;
  padding-right: 12px;
  border-bottom-width: 1px;
  font-size: 14px;
  font-weight: 500;
}
