# ℹ️
# This workflow runs for pull_requests that are based on main
# if there is a change in coral, including file `coral/types/api.d.ts`
#    - 1. it runs the coral setup
#    - 2. it runs the typescript compiler
#       - if ok: ends the workflow ✅
#       - if tsc has errors: fails the workflow ⛔️


# This workflow ensures that our type definition for APIs are always in
# sync and that API changes don't break things in coral.

name: Typescript checks

on:
  pull_request:
    paths:
      - 'coral/**'

jobs:
  typecheck:
    name: Type check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0
        with:
          persist-credentials: false

      - name: Setup coral
        uses: ./.github/actions/setup-coral

      - name: Run tsc
        working-directory: ./coral
        run: pnpm tsc