# This workflow is not automatically triggered, but needs to be
# called from e.g. another workflow file. It enables us to
# reuse the jobs run here in different workflows.
# Please note that in order to run this jobs, the
# code needs to be checked already out when using the job

# This workflow will build a Java project with Maven, and cache/restore any
# dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven
name: Java CI with Maven

env:
  NODE_VERSION: 18

on:
  workflow_call

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        java-version: [17, 21]
        runs-on: [ubuntu-latest]
    name: Jdk ${{ matrix.java-version }}, os ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  #v5.0.0
        with:
          persist-credentials: false
      - name: Setup node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install node.js uglify packages
        run: npm install uglify-js -g && npm install uglifycss -g
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}
          cache: maven
      - name: Build and run tests with Maven
        run: mvn --batch-mode --update-snapshots verify